
%top-property
{
	width: 263px;
	min-height: 460px;
	background: #FFFFFF;
	// border-radius: 5px;
	font-family: Roboto;
	font-style: normal;
}
%button_property
{
	width: 146px;
    height: 40px;
   	border-radius: 5px;
  	color: #1C294D;
    border: 1px solid #EEEEEE;
    font-weight: 500;
	font-size: 14px;
	line-height: 15px;
}
.arrivals
{
	margin-top: 30px;
}
.arrivals__header
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	width: 100%;
	margin: 0 auto;
	background-color: #fff;
	h2
	{
		margin-left: 25px;
		margin-bottom: 0;
		font-weight: bold;
		font-size: 20px;
		line-height: 25px;
		font-family: Roboto;
		font-style: normal;
		color: #1C294D;
	}
	.arrivals__slider-button
	{
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 60px;
		height: 30px;
		margin-right: 25px;
		box-sizing: border-box;
		border-radius: 5px;
		button
		{
			display: flex;
			border-style: none;
			padding: 12px;
		}
		button:last-child
		{
			border: 1px solid #EEEEEE;
			border-radius: 0px 5px 5px 0px;

		}
		button:first-child
		{
			border-left: 1px solid #EEEEEE;
			border-top: 1px solid #EEEEEE;
			border-bottom: 1px solid #EEEEEE;
			border-radius: 5px 0px 0px 5px;
		}
		.arrivals__header-button-left
		{

		}
		.arrivals__header-button-right
		{
		}
	}
}
.arrivals__wraper
{
	width: 100%;
	min-height: 562px;
	margin: 0 auto;
	margin-bottom: 30px;
	background: #FFFFFF;
	border-radius: 5px;
	.arrivals__all-book
	{
		display: block;
		width: 188px;
		margin: 10px auto;
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		color: #1C294D;
	}
}
.arrivals__conteiner
{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;

	.arrivals__book
	{
		position: relative;
		padding-left: 20px;
		&:first-child{padding-right: 20px;}
		&:not(:first-child)
		{
			border-left: 1px solid #E5E5E5;
		}
		@extend %top-property;

		.arrivals__book-image1
		{
			position: relative;

		}
		img
		{
			margin-top: 25px;
			margin-left: 42px;
			margin-bottom: 9px;
		}
		ul
		{
			position: absolute;
			top: 20px;
			left: 0px;
			li:first-child
			{
				width: 86px;
				height: 25px;
				padding: 7px;
				margin-bottom: 10px;
				background: #EEE9F7;
				border-radius: 5px;
				font-weight: 500;
				font-size: 12px;
				line-height: 15px;
				text-align: center;
				color: #AC8EE3;

			}
			li:last-child
			{
				width: 54px;
				height: 25px;
				padding: 7px;
				background: #FFEEEE;
				border-radius: 5px;
				font-weight: 500;
				font-size: 12px;
				line-height: 15px;
				text-align: center;
				color: #FF4F52;

			}
			li.new
			{
				width: 70px;
				color: #3DC47E;
				background-color: #E2F6EC;
			}
		}
		.arrivals__book-name
		{
			display: block;
			// margin-left: 20px;
			font-weight: normal;
			margin-bottom: 7px;
			font-size: 12px;
			line-height: 15px;
			color: rgba(28, 41, 77, 0.5);
		}
		.arrivals__book-description
		{
			display: block;
			margin-bottom: 8px;
			width: 92%;
			font-weight: 500;
			font-size: 14px;
			line-height: 19px;
			color: #1C294D;
		}
		.arrivals__book-auhtor
		{
			display: block;
			margin-bottom: 8px;
			font-weight: normal;
			font-size: 12px;
			line-height: 15px;
			color: rgba(28, 41, 77, 0.5);
		}
		.arrivals__book-price
		{
			display: block;
			margin-bottom: 10px;
			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 20px;
			color: #1C294D;
		}
		.arrivals__price-conteiner
		{
				margin: 0 0 5px;
				span:nth-child(2)::before
				{
					content: '';
					position: absolute;
					top: 6.43px;
					transform: rotate(-5deg);
					width: 41px;
					height: 1px;
					background-color: #FD3A3A;
				}
			.arrivals__book-redprice
			{
				display: inline-block;
				color: #FD3A3A;
				font-family: Roboto;
				font-style: normal;
				font-weight: bold;
				font-size: 18px;
				line-height: 20px;
			}
			.arrivals__book-litprice
			{
				position: relative;
				color: #1C294D80;
				font-family: Roboto;
				font-style: normal;
				font-weight: normal;
				font-size: 12px;
				line-height: 15px;
			}

			.arrivals__book-profit
			{
				color: #0DB98C;
				font-family: Roboto;
				font-style: normal;
				font-weight: normal;
				font-size: 12px;
				line-height: 15px;
			}
		}
		.arrivals__book-star
		{
			display: inline-block;
			margin-bottom: 10px;
			width: 52px;
			height: 25px;
			background: rgba(#FBC02D, 0.15);
			border-radius: 5px;
			text-align: center;
			span
			{
				font-family: Roboto;
				font-style: normal;
				font-weight: 500;
				font-size: 12px;
				line-height: 13px;
				text-transform: uppercase;
				color: #E0A423;
			}
		}
		.arrivals__book-recommendation
		{
			display: inline-block;
			margin-bottom: 10px;
			width: 144px;
			height: 25px;
			background:rgba(#7986CB, 0.15);
			border-radius: 5px;
			text-align: center;
			padding-left: 13px;
			span
			{
				font-weight: 500;
				font-size: 12px;
				line-height: 12px;
				color: #7986CB;
			}
		}
		.arrivals__button-buy
		{
			position: relative;

			@extend %button_property;

			span
			{
				position: absolute;
				top: 14px;
				left: 54px;
			}
			svg
			{
				position: absolute;
				top: 14px;
				left: 25px;
			}
		}
		.arrivals__bookmark
		{
			display: inline-block;
			position: absolute;
			right: 47px;
			width: 40px;
		    height: 40px;
		    padding: 11px 14px;
		    background: #FFFFFF;
		    border: 1px solid #EEEEEE;
		    border-radius: 5px;
		}
	}

}
@media (max-width: 1100px)
{
}
@media (max-width: 992px)
{
 	.arrivals__conteiner
 {
 	.arrivals__book:last-child
 	{
 		display: none;
 	}
 	.arrivals__book
 	{
 		img
 		{
		    margin-left: 30px;
 		}
 	}
 }
}