
%top-property
{
	width: 263px;
	min-height: 460px;
	background: #FFFFFF;
	border-radius: 5px;
	font-family: Roboto;
	font-style: normal;
}
%button_property
{
	width: 146px;
    height: 40px;
   	border-radius: 5px;
  	color: #1C294D;
    border: 1px solid #EEEEEE;
    font-weight: 500;
	font-size: 14px;
	line-height: 15px;
}
.arrivals
{
	margin-top: 30px;
}
.arrivals__header
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	width: 1140px;
	margin: 0 auto;
	background-color: #fff;
	h2
	{
		margin-left: 138px;
		font-weight: bold;
		font-size: 20px;
		line-height: 25px;
		font-family: Roboto;
		font-style: normal;
	}
	.arrivals__slider-button
	{
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 60px;
		height: 30px;
		margin-right: 138px;
		border: 1px solid rgba(28, 41, 77, 0.15);
		box-sizing: border-box;
		border-radius: 5px;
		button
		{
			display: flex;
			border-style: none;

		}
		.arrivals__header-button-left
		{
			border-right: 1px solid #E5E5E5;
    		padding-right: 18px;
    		height: 100%;
    		padding-top: 11px;
		}
		.arrivals__header-button-right
		{
			padding-right: 18px;
		}
	}
}
.arrivals__wraper
{
	background-color: #F9F9F9;

}
.arrivals__conteiner
{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin: 0px 114px;

	.arrivals__block1
	{
		position: relative;
		padding-left: 20px;
		@extend %top-property;

		.arrivals__book-image1
		{
			position: relative;
		}
		img
		{
			margin-top: 25px;
			margin-left: 42px;
			margin-bottom: 15px;
		}
		ul
		{
			position: absolute;
			top: 20px;
			left: 0px;
			li:first-child
			{
				width: 86px;
				height: 25px;
				padding: 5px;
				margin-bottom: 10px;
				background: #EEE9F7;
				border-radius: 5px;
				font-weight: 500;
				font-size: 12px;
				line-height: 15px;
				text-align: center;
				color: #AC8EE3;

			}
			li:last-child
			{
				width: 54px;
				height: 25px;
				padding: 5px;
				background: #FFEEEE;
				border-radius: 5px;
				font-weight: 500;
				font-size: 12px;
				line-height: 15px;
				text-align: center;
				color: #FF4F52;
			}
		}
		.arrivals__block1-name
		{
			display: block;
			// margin-left: 20px;
			font-weight: normal;
			margin-bottom: 8px;
			font-size: 12px;
			line-height: 15px;
			color: rgba(28, 41, 77, 0.5);
		}
		.arrivals__block1-description
		{
			display: block;
			margin-bottom: 8px;
			font-weight: 500;
			font-size: 14px;
			line-height: 19px;
			color: #1C294D;
		}
		.arrivals__block1-auhtor
		{
			display: block;
			margin-bottom: 8px;
			font-weight: normal;
			font-size: 12px;
			line-height: 15px;
			color: rgba(28, 41, 77, 0.5);
		}
		.arrivals__block1-price
		{
			display: block;
			margin-bottom: 10px;
			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 20px;
			color: #1C294D;
		}
		.arrivals__price-conteiner
		{

			.arrivals__block1-newprice
			{
				display: inline-block;
				color: #FD3A3A;
			}
			.arrivals__block1-litprice
			{
				color: #1C294D80;
				font-family: Roboto;
				font-style: normal;
				font-weight: normal;
				font-size: 12px;
				line-height: 15px;
			}
			.arrivals__block1-profit
			{
				color: #0DB98C;
				font-family: Roboto;
				font-style: normal;
				font-weight: normal;
				font-size: 12px;
				line-height: 15px;
			}
		}
		.arrivals__block1-star
		{
			display: inline-block;
			margin-bottom: 10px;
			width: 52px;
			height: 25px;
			background: rgba(#FBC02D, 0.15);
			border-radius: 5px;
			span
			{
				font-family: Roboto;
				font-style: normal;
				font-weight: 500;
				font-size: 12px;
				line-height: 13px;
				text-transform: uppercase;
				color: #E0A423;
			}
		}
		.arrivals__block1-recommendation
		{
			display: inline-block;
			margin-bottom: 12px;
			width: 144px;
			height: 25px;
			background:rgba(#7986CB, 0.15);
			border-radius: 5px;
			span
			{
				font-weight: 500;
				font-size: 12px;
				line-height: 12px;
				color: #7986CB;
			}
		}
		.arrivals__button-buy
		{
			@extend %button_property;
		}
		.arrivals__bookmark
		{
			display: inline-block;
			position: absolute;
			right: 50px;
			width: 40px;
		    height: 40px;
		    padding: 11px 14px;
		    background: #FFFFFF;
		    border: 1px solid #EEEEEE;
		    border-radius: 5px;
		}
		
	}

}