.send__email-container
{
	display: flex;
	align-items: center;
	width: 100%;
	min-height: 105px;
	margin: 0 auto;
	background-color: #0288D1;
	border-radius: 5px;
}
.send__email-text
{
	position: relative;
	padding-left: 46px;
	padding-right: 14px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 20px;
	color: #FFFFFF;
	z-index: 1;
	svg
	{
		position: absolute;
		top: -5px;
		left: 100px;
		z-index: -1;
	}
}
.send__email-input
{
	padding-left: 15px;
	margin-right: 10px;
	width: 418px;
	height: 40px;
	border-style: none;
	border-radius: 5px;
	&::placeholder
	{
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 20px;
		color: rgba(28, 41, 77, 0.5);
	}
}
.send__email-button
{
	width: 137px;
	height: 40px;
	border:1px solid white;
	border-radius: 5px;
	color: white;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
}

@media (max-width: 1100px)
{
	.container
	{
		max-width: 1024px;
	}
	.send__email-input
	{
		width: 360px;
	}
	.send__email-button
	{
		width: 100px;
	}
	.send__email-text
	{
		font-size: 16px;
	}
}
@media (max-width: 992px)
 {
 	.send__email-text
 	{
 		padding-left: 20px;
 		svg
 		{
 			left: 67px;
 		}
 	}
 	.send__email-input
 	{
 		width: 40%;
 	}
 	.send__email-button
 	{
 		width: 18%;
 		margin-right: 20px;
 	}
 }