
<div class="send-email">
	<div class="container">
		<div class="send-email__container">
			<span class="send-email__text">Скидка 200 ₽ при подписке на рассылку Издательства
				{% include '../../assets/svg/send-email.svg' %}
			</span>
			<input class="send-email__input" type="text" placeholder="Введите ваш Email">
			<button class="send-email__button">Подписаться</button>
		</div>
	</div>
</div>