<div class="container">
	<div class="send__email-container">
		<span class="send__email-text">Скидка 200 ₽ при подписке на рассылку Издательства
			{% include '../../assets/svg/send-email.svg' %}
		</span>
		<input class="send__email-input" type="text" placeholder="Введите ваш Email">
		<button class="send__email-button">Подписаться</button>
	</div>
</div>