.benefits__list
{
	width: 1140px;
	min-height: 150px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.benefits__item
{
	position: relative;
	text-align: center;
	width: 263px;
	height: 150px;
	background-color: #fff;
	border-radius: 5px;
	h2
	{
		position: absolute;
		top: 42px;
		right: 25px;
		padding-bottom: 0px;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 25px;
		color: #1C294D;
	}
	span
	{
		position: absolute;
		bottom: 42px;
		right: 20px;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 19px;
		color: #727272;
	}
	img
	{
		position: absolute;
		left: 0;
		top: 37px;
	}
}