 .benefits__list
 {
 	width: 100%;
 	min-height: 150px;
 	margin: 0 auto;
 	display: flex;
 	justify-content: space-between;
 	align-items: center;
 	margin-bottom: 30px;
 }
 .benefits__item
 {
 	display: flex;
 	align-items: center;
 	padding: 21px 10px 9px 0;
 	padding-left: 89px;
 	width:calc(100% / 4 - 23px);
 	height: 150px;
 	background-color: #fff;
 	border-radius: 5px;
 	background-repeat: no-repeat;
 	background-position-y: 50%;
 	h2
 	{
 		padding-bottom: 0px;
 		font-family: Roboto;
 		font-style: normal;
 		font-weight: bold;
 		font-size: 16px;
 		line-height: 14px;
 		color: #1C294D;
 		margin: 0 0 3px;
 	}
 	span
 	{
 		font-family: Roboto;
 		font-style: normal;
 		font-weight: normal;
 		font-size: 12px;
 		line-height: 19px;
 		color: #727272;
 	}
 	img
 	{
 		height: 100%;
 		max-height: 55px;
 	}
 	.benefits__item-wrap
 	{
 		display: flex;
 	}
 }
 @media (max-width: 1100px)
 {
 	.benefits__item
 	{
 		width: calc(100% / 4);

 		span
 		{
 			right: 18px;
 		}
 		h2
 		{
 			right: 10px;
 		}
 	}
 }
 @media (max-width: 992px)
 {
 	.benefits__list
 	{
 		flex-wrap: wrap;
 		gap: 20px;
 	}
 	.benefits__item
 	{
 		// width: calc(25% + (50 - 25) * ((100vw - 320px) / (992 - 320)));// 
 		width: 48%;

 	}
 }
 @media (max-width: 767px)
 {
 	.benefits__list
 	{
 		gap: 10px;
 		margin: 0;
 		margin-top: 10px;
 		margin-bottom: 10px;
 	}
 	.benefits__item
 	{
 		width: 100%;
 		height: 170px;
 		background-size: 130px;
 		background-position-x: 8px;
 		&:nth-child(3)
 		{
 			order: 0;
 		}
 		&:nth-child(2)
 		{
 			order: 1;
 		}
 		span
 		{
 			font-size: 14px;
 			line-height: 20px;
 		}
 	}
 	.benefits__item__texts
 	{
 		width: 100%;
 		padding-left: 36px;
 	}
 }