<section class="benefits">
	<div class="container">
		<div class="benefits__list">
			<div class="benefits__item" style="background-image: url(/img/watch.png);">
				{# <img src="./img/watch.png"> #}
				<div class="benefits__item__texts">
					<h2>Быстрая доставка</h2>
					<span>Доставим бесплатно от 2000 ₽ по всей России</span>
				</div>
			</div>
			<div class="benefits__item" style="background-image:url(./img/card.png);">
				{# <img src="./img/card.png"> #}
				<div class="benefits__item__texts">
					<h2>Безопасная оплата</h2>
					<span>Плати безопасно и легко онлайн на нашем сайте.</span>
				</div>
			</div>
			<div class="benefits__item" style="background-image:url(./img/star.png);">
				{# <img src="./img/star.png"> #}
				<div class="benefits__item__texts">
					<h2>Бонусная программа</h2>
					<span>Дополнительная скидка 15% при регистрации</span>
				</div>
			</div>
			<div class="benefits__item" style="background-image:url(./img/bag.png);">
				{# <img src="./img/bag.png"> #}
				<div class="benefits__item__texts">
					<h2>Большой выбор</h2>
					<span>Ежегодно выходит в свет более 100 книг</span>
				</div>
			</div>
		</div>
	</div>
</section>