<section class="news">
	<div class="container">
		<div class="news__wraper">
			<div class="title">
				<h2>Новости</h2>
				<div class="title__button">
					<button class="title__button-left">
						{% include '../../assets/svg/lit-arrows-left.svg' %}
					</button>
					<button class="title__button-right">
						{% include '../../assets/svg/lit-arrow-right.svg' %}
					</button>
				</div>
			</div>
			<div class="news__list">
				<div class="news__item">
					<img class="news__item-image" src="./img/news-image 214.png" alt="image-news">
					<span class="news__item-date">16 июня 2020</span>
					<h3 class="news__item-title">Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...</h3>
					<span class="news__item-text">18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...</span>
					<button class="news__item-button">Читать</button>
					<button class="all-news">Показать все новости</button>
				</div>
				<div class="news__item">
					<img class="news__item-image" src="./img/news-image 932.png" alt="image-news">
					<span class="news__item-date">16 июня 2020</span>
					<h3 class="news__item-title">Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...</h3>
					<span class="news__item-text">18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...</span>
					<button class="news__item-button">Читать</button>
				</div>
				<div class="news__item">
					<img class="news__item-image" src="./img/news-image 933.png" alt="image-news">
					<span class="news__item-date">16 июня 2020</span>
					<h3 class="news__item-title">Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...</h3>
					<span class="news__item-text">18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...</span>
					<button class="news__item-button">Читать</button>
				</div>
			</div>
		</div>
	</div>
</section>