.news__wraper
{
	width: 100%;
	background: #FFFFFF;
	border-radius: 5px;
}
.all-news
	{
		display: none;
	}
.title
{
	width: 100%;
	min-height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 25px	;
	border-bottom: 1px solid rgba(28, 41, 77, 0.15);

	h2
	{
		margin: 0;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 25px;
		color: #1C294D;
	}
	&__button
	{
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 60px;
		height: 30px;
		box-sizing: border-box;
		border-radius: 5px;
		button
		{
			display: flex;
			border-style: none;
			padding: 12px;
		}
		button:last-child
		{
			border: 1px solid #EEEEEE;
			border-radius: 0px 5px 5px 0px;

		}
		button:first-child
		{
			border-left: 1px solid #EEEEEE;
			border-top: 1px solid #EEEEEE;
			border-bottom: 1px solid #EEEEEE;
			border-radius: 5px 0px 0px 5px;
		}
	}
}
.news__list
{
	display: flex;
	margin: 0 20px 30px 20px;
	.news__item
	{
		padding-top: 25px;

			&:not(:last-child)
			{
				margin-right: 35px;
				border-right: 1px solid rgba(28, 41, 77, 0.15);
				padding-right: 35px;
			}
		&-image
		{
			width: 100%;
			margin-bottom: 9px;
		}
		&-date
		{
			display: block;
			margin-bottom: 5px;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 12px;
			line-height: 15px;
			color: rgba(28, 41, 77, 0.5)
		}
		.news__item-title
		{
			margin: 0;
			margin-bottom: 8px;
			font-family: Roboto;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
			color: #1C294D;
		}
		&-text
		{
			display: block;
			margin-bottom: 12px;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 20px;
			color: #1C294D;
			opacity: 0.8;
		}
		&-button
		{
			width: 180px;
			height: 40px;
			background: #FFFFFF;
			margin-bottom: 25px;
			border: 1px solid rgba(28, 41, 77, 0.15);
			box-sizing: border-box;
			border-radius: 5px;
			font-family: Roboto;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 20px;
			color: #1C294D;
		}
	}

}


@media (max-width: 1100px)
{
	.all-news
	{
		display: none;
	}
	.news__item:last-child
	{
		display: none;
	}
	.news__list
	{
		padding-top: 0;
	}
	.news__list
	{
		.news__item:nth-child(2)
		{
			border-right: 0;
		}
	}

}
@media (max-width: 992px)
{
	.all-news
	{
		display: none;
	}
	.news__list
	{
		.news__item:nth-child(2)
		{
			border-right: 0;
		}
	}
}
@media (max-width: 767px)
{
	.news__list
	{
			margin: 0;
			margin-bottom: 20px;
		.news__item
		{
			padding-top: 19px;
			padding-left: 10px;

			&:nth-child(2)
			{
				display: none;
			}
			&:first-child
			{
				border-right: none;
				padding-right: 0;
				margin: 0;
			}
			&-image
			{
				width: 100%;
				height: 210px;
				object-fit: none;
			}
			&-button
			{
				width: 97%;
				margin: 0;
				margin-bottom: 20px;
			}
			&-title
			{
				width: 95%;
			}
			&-text
			{
				width: 95%;
			}
		}
	}
	.title
	{
		padding: 0 10px;
	}
	.all-news
	{
		display: block;
		padding: 10px 0;
		width: 97%;
		border: none;
		border-top: 1px solid rgba(28, 41, 77, 0.15);
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		color: #1C294D;
	}
}
