*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
}
a {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  /* identical to box height, or 12px */
  text-align: center;
  color: #1d1d1b;
}
.page-header {
  display: block;
  width: 1920px;
  height: 163px;
}
.menu-top ul {
  margin-left: 130px;
  list-style-type: none;
}

.menu-top {
  display: flex;
  background: #f8f8f8;
  height: 36px;
  justify-content: space-around;
  align-items: center;
}
.menu-list li a {
  text-decoration: none;
  color: black;
  top: 11px;
  margin-right: 40px;
}
.menu-top li {
  display: inline-block;
  margin-right: 2em;
}
.top-city a {
  text-decoration: none;
}
.top-city {
  display: flex;
  width: 90px;
  height: 20px;
  align-items: center;
  justify-content: space-evenly;
}
.menu-list-item-drop-down {
  position: relative;
}
.menu-list-item-drop-down:hover::after {
  transform: rotate(180deg);
}
.menu-list-item-drop-down::after {
  content: "";
  position: absolute;
  right: 11px;
  top: 10px;
  width: 15px;
  height: 10px;
  transform: rotate(0);
  transition: 0.3s;
  background-image: url("/style/img/list.svg");
  background-repeat: no-repeat;
}
.phone-number p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  color: #696969;
}
