.container
{
	max-width: 1180px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	padding:0 20px;
}
@media (max-width: 1100px)
{
	.container
	{
		max-width: 1024px;
	}
}
 @media (max-width: 992px)
 {
 	.container
 	{
 		max-width: 768px;
 	}
 }
  @media (max-width: 767px)
  {
  	.container
  	{
  		max-width: 425px;
  	}
  }