body
{
	min-width: 375px;
}
.container
{
	max-width: 1366px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	padding:0 113px;
}
@media (max-width: 1100px)
{
	.container
	{
		padding: 0 25px;
	}
}
 @media (max-width: 992px)
 {
 	.container
 	{
 		padding: 0 20px;
 	}
 }
  @media (max-width: 767px)
  {
  	.container
  	{
  		padding: 0 10px;
  	}
  }