%top-property
{
	width: 263px;
	height: 460px;
	background: #FFFFFF;
	border-radius: 5px;
	font-family: Roboto;
	font-style: normal;
}
%button_property
{
	width: 146px;
	height: 40px;
	border-radius: 5px;
	color: #1C294D;
	border: 1px solid #EEEEEE;
	font-weight: 500;
	font-size: 14px;
	line-height: 15px;
}

.catalog__item
{
	position: relative;
	padding-left: 20px;
	@extend %top-property;

	.catalog__item-image
	{
		position: relative;
	}
	img
	{
		margin-top: 25px;
		margin-left: 42px;
		margin-bottom: 15px;
	}
	ul
	{
		position: absolute;
		top: 20px;
		left: 0px;
		li:first-child
		{
			width: 86px;
			height: 25px;
			padding: 5px;
			margin-bottom: 10px;
			background: #EEE9F7;
			border-radius: 5px;
			font-weight: 500;
			font-size: 12px;
			line-height: 15px;
			text-align: center;
			color: #AC8EE3;

		}
		li:last-child
		{
			width: 54px;
			height: 25px;
			padding: 5px;
			background: #FFEEEE;
			border-radius: 5px;
			font-weight: 500;
			font-size: 12px;
			line-height: 15px;
			text-align: center;
			color: #FF4F52;
		}
	}
	.catalog__item-name
	{
		display: block;
			// margin-left: 20px;
			font-weight: normal;
			margin-bottom: 8px;
			font-size: 12px;
			line-height: 15px;
			color: rgba(28, 41, 77, 0.5);
		}
		.catalog__item-description
		{
			display: block;
			margin-bottom: 8px;
			font-weight: 500;
			font-size: 14px;
			line-height: 19px;
			color: #1C294D;
		}
		.catalog__item-auhtor
		{
			display: block;
			margin-bottom: 8px;
			font-weight: normal;
			font-size: 12px;
			line-height: 15px;
			color: rgba(28, 41, 77, 0.5);
		}
		.catalog__item-price
		{
			display: block;
			margin-bottom: 10px;
			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 20px;
			color: #1C294D;
		}
		.catalog__item-star
		{
			display: inline-block;
			margin-bottom: 10px;
			width: 52px;
			height: 25px;
			background: rgba(#FBC02D, 0.15);
			border-radius: 5px;
			span
			{
				font-family: Roboto;
				font-style: normal;
				font-weight: 500;
				font-size: 12px;
				line-height: 13px;
				text-transform: uppercase;
				color: #E0A423;
			}
		}
		.catalog__item-recommendation
		{
			display: inline-block;
			margin-bottom: 12px;
			width: 144px;
			height: 25px;
			background:rgba(#7986CB, 0.15);
			border-radius: 5px;
			span
			{
				font-weight: 500;
				font-size: 12px;
				line-height: 12px;
				color: #7986CB;
			}
		}
		.catalog__item-button
		{
			@extend %button_property;
		}
		.catalog__item-bookmark
		{
			display: inline-block;
			position: absolute;
			right: 50px;
			width: 40px;
			height: 40px;
			padding: 11px 14px;
			background: #FFFFFF;
			border: 1px solid #EEEEEE;
			border-radius: 5px;
		}
	}