<div class="catalog__item">
				<div class="catalog__item-image">
				<ul>
					<li>Новинка</li>
				</ul>
				<img src="./img/image 140.png" alt="image">
				</div>
				<span class="catalog__item-name">Договорное право</span>
				<span class="catalog__item-description">Договор коммерческой концессии (франчайзинг). Граж...</span>
				<span class="catalog__item-auhtor">Багдасарян А.Ф.</span>
				<span class="catalog__item-price">372 ₽</span>
				<span class="catalog__item-star">
					{% include '../../assets/svg/stars.svg' %}
					<span>4.9</span>
				</span>
				<span class="catalog__item-recommendation">
					{% include '../../assets/svg/like.svg' %}
					<span>89% рекомендуют</span>
				</span>
				<button class="catalog__item-button">
					{% include '../../assets/svg/basket-orange.svg' %}
					<span class="promo__bookday-basket">В корзину</span>
				</button>
				<a class="catalog__item-bookmark" href="#">
					{% include '../../assets/svg/Icon-postponed.svg' %}
				</a>
			</div>