
.footer__top
{
	width: 100%;
	background-color: rgba(40, 47, 54, 0.04);
}
.footer__bottom-mobile
{
	display: none;
}
.footer__social-link-mobile
{
	display: none;
}
.footer__social-link
{
	a:nth-child(3)
	{
		padding-left: 10px;
	}
	a:nth-child(2)
	{
		padding-left: 12px;
	}
}
.footer__top-items
{
	width: 100%;
	margin: 0 auto;
	margin-bottom: 45px;
	min-height: 90px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer__top-logo
{
	margin-right: 102px;
}
.footer__top-input
{
	position: relative;
	width: 39%;
	height: 40px;
}
.footer__input
{
	width: 100%;
	height: 40px;
	padding-left: 13px;
	padding-bottom: 10px;
	padding-top: 10px;
	background: #FFFFFF;
	border: 1px solid rgba(40, 47, 54, 0.15);
	box-sizing: border-box;
	border-radius: 5px;
}
.footer__input::placeholder
{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: rgba(40, 47, 54, 0.5);
}
.footer__button
{
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 40px;
	background-color: #FF5C00;
	border-style: none;
	border-radius: 0 5px 5px 0;
	svg
	{
		vertical-align: middle;
	}
}

/**
 * footer-middle
 */
 .footer__nav-list
 {
 	display: flex;
 	margin-bottom: 38px;

 	.footer__nav-items
 	{
 		&--grid
 			{
 				li
 				{
 					display: grid;
 					align-items: center;
 					grid-template-columns: 23px 141px;
 					grid-template-areas: "svg a"
 					"svg span";
 					width: 100%;

 					svg
 					{
 						grid-area: svg;
 						display: block  !important;
 						vertical-align: middle;
 					}
 					span
 					{
 						grid-area: span;
 						padding-left: 10px;
 					}
 					a
 					{
 						grid-area: a;
 						padding-left: 10px;
 						vertical-align: middle;
 					}
 				}
 			}
 		h3
 		{
 			width: 165px;
 			margin: 0;
 			margin-bottom: 24px;
 			margin-right: 30px;
 			font-family: Roboto;
 			font-style: normal;
 			font-weight: 500;
 			font-size: 14px;
 			line-height: 20px;
 			color: #1C294D;
 		}
 		span
 		{
 			display: block;
 			font-family: Roboto;
 			font-style: normal;
 			font-weight: normal;
 			font-size: 12px;
 			line-height: 15px;
 			color: rgba(40, 47, 54, 0.5);
 		}
 		a
 		{
 			font-family: Roboto;
 			font-style: normal;
 			font-weight: normal;
 			font-size: 14px;
 			line-height: 20px;
 			color: rgba(40, 47, 54, 0.8);
 		}
 		li
 		{
 			padding-bottom: 9px;
 		}
 		&:last-child
 		{
 			li
 			{
 				svg
 				{
 					vertical-align: middle;
 					margin-right: 6px;
 				}
 			}
 		}
 		&:not(:last-child)
 		{
 			svg
 			{
 				display: none;
 			}
 		}
 	}
 }
/**
 *. footer__bottom
 */
 .footer__bottom-doc
 {
 	padding-bottom: 8px;
 }
 .footer__bottom-nav
 {
 	width: 100%;
 	min-height: 105px;
 	margin: 0 auto;
 	display: flex;
 	align-items: center;
 	justify-content: space-between;
 	border-top: 1px solid rgba(40, 47, 54, 0.15);
 	span
 	{
 		padding-bottom: 7px;
 		font-family: Roboto;
 		font-style: normal;
 		font-weight: normal;
 		font-size: 14px;
 		line-height: 20px;
 		color: rgba(28, 41, 77, 0.8);
 	}
 	span:first-child
 	{
 		margin-right: 152px;
 		color: rgba(28, 41, 77, 0.5);
 	}
 	a
 	{
 		padding-bottom: 7px;
 		font-family: Roboto;
 		font-style: normal;
 		font-weight: normal;
 		font-size: 14px;
 		line-height: 20px;
 		color: rgba(28, 41, 77, 0.8);
 	}
 	a:first-child
 	{
 		padding-left: 10px;
 		padding-right: 27px;
 	}
 }
 @media (max-width: 1100px)
 {
 	.footer__bottom-nav span:first-child
 	{
 		margin-right: 50px;
 	}
 }
 @media (max-width: 992px)
 {
 	.footer__top-input
 	{
 		margin-right: 20px;
 	}
 	.footer__bottom-nav
 	{
 		flex-direction: column;
 		flex-wrap: wrap;
 		.footer__bottom-doc
 		{
 			order: -1;
 		}
 	}
 	.footer__nav-list
 	{
 		flex-wrap: wrap;
 		gap: 10px;
 	}
 	.footer__bottom-nav
 	{
 		span
 		{
 			font-size: 12px;
 		}
 		span:last-child
 		{
 			display: none;
 		}
 		a
 		{
 			font-size: 12px;
 		}
 	}
 }
 @media (max-width: 767px)
 {
 	.footer__top-items
 	{
 		flex-wrap: wrap;
 		margin: 0;
 	}
 	.footer__top-input
 	{
 		width: 72.3%;
 	}
 	.footer__bottom-nav
 	{
 		flex-wrap: wrap;
 	}
 	.footer__top-logo
 	{
 		margin: 0;
 		margin-left: 20px;
 		padding: 24px 0 16px 0;
 	}
 	.footer__social-link-mobile
 	{

 		display: block;
 		order: -1;
 		width: 100%;
 		text-align: center;
 		border-bottom: 1px solid rgba(28, 41, 77, 0.15);
 		padding: 21px 0 8px 0;
 		a:nth-child(3)
 		{
 			padding-left: 10px;
 		}
 		a:nth-child(2)
 		{
 			padding-left: 10px;
 			svg
			{
				stroke: #4C75A3;
			}
 		}
 	}

 	.footer__social-link
 	{
 		display: none;
 	}
 	.footer__top
 	{
 		.container
 		{
 			padding: 0;
 		}
 	}
 	.footer__nav-list
 	{
 		flex-wrap: wrap;
 		gap: 0;
 		margin: 0;
 		.footer__nav-items:last-child
 		{
 			display: none;
 		}
 		.footer__nav-items
 		{
 			width: 100%;
 			h3
 			{
 				display: inline-block;
 				position: relative;
 				width: 96%;
 				margin: 0;
 				border-bottom: 1px solid rgba(42, 61, 72, 0.15);
 				padding-bottom: 20px;
 				padding-left: 10px;
 				padding-top: 19px;
 				font-size: 16px;
 				line-height: 20px;
 				font-weight: normal;
 				svg
 				{
 					position: absolute;
 					top: 40%;
 					right: 0;
 				}
 			}
 			li
 			{
 				display: none;
 			}
 		}
 	}
 	.footer__bottom-nav
 	{
 		span:first-child
 		{
 			width: 100%;
 			margin: 0;
 			order: 1;
 			padding-left: 10px;
 			padding-bottom: 20px;
 			padding-top: 20px;
 			font-size: 14px;
 			line-height: 20px;
 		}
 		border-top: none;
 		a
 		{
 			color: rgba(28, 41, 77, 0.5);
 		}
 		span:last-of-type
 		{
 			width: 100%;
 			padding-left: 10px;
 			padding-bottom: 20px;
 			padding-top: 16px;
 			border-bottom: 1px solid  rgba(42, 61, 72, 0.15)	;
 			font-size: 14px;
 			line-height: 20px;
 			&:before
 			{
 				content: '';
 				background-image: url('/svg/Icon-places.svg');
 				display: inline-block;
 				margin-right: 5px;
 				height: 20px;
 				width: 20px;
 				background-repeat: no-repeat;
 				background-position-x: 4px;
 				background-position-y: 3px;
 				vertical-align: middle;
 			}
 		}
 	}
 	.footer__bottom-mobile
 	{
 		display: flex;
 		flex-wrap: wrap;
 		width: 100%;
 		order: -1;
 		a
 		{
 			display: block;
 			&:first-child
 			{
 				width: 100%;
 				padding: 0;
 				padding-left: 10px;
 				padding-top: 20px;
 				padding-bottom: 20px;
 				border-bottom: 1px solid rgba(42, 61, 72, 0.15)	;
 				font-size: 14px;
 				line-height: 16px;
 				svg
 				{
 					margin-right: 5px;
 					vertical-align: middle;
 				}
 			}
 			&:last-child
 			{
 				width: 100%;
 				order: -1;
 				padding: 0;
 				padding-left: 10px;
 				padding-top:18px;
 				padding-bottom: 22px;
 				border-bottom: 1px solid rgba(42, 61, 72, 0.15)	;
 				font-size: 14px;
 				line-height: 16px;
 				svg
 				{
 					margin-right: 4px;
 					vertical-align: middle;
 				}
 			}
 		}

 	}
 	.footer__bottom-doc
 	{
 		order: -1;
 		display: block;
 		width: 100%;
 		padding-top: 20px;
 		border-bottom: 1px solid rgba(42, 61, 72, 0.15);
 		a:first-child
 		{
 			padding: 0;
 			padding-left: 10px;
 			padding-bottom: 10px;
 			margin-top: 18px;
 			font-size: 14px;
 			line-height: 20px;
 		}
 		a:last-child
 		{
 			display: block;
 			padding: 0;
 			padding-top: 8px;
 			padding-left: 10px;
 			padding-bottom: 14px;
 			font-size: 14px;
 			line-height: 20px;
 		}
 	}

 }