{# index.twig #}

{% block footer %}
<footer>
	<div class="footer">
		<div class="footer__top">
			<div class="container">
				<div class="footer__top-items">
					<a class="footer__top-logo" href="#">{% include '../../assets/svg/logo.svg' %}</a>
					<div class="footer__top-input">
						<input class="footer__input" type="text" placeholder="Введите свой Email и получите скидку">
						<button class="footer__button">
							{% include '../../assets/svg/Shape.svg' %}
						</button>
					</div>
					<div class="social-link">
						<a href="#"> {% include '../../assets/svg/Facebook Copy 3.svg' %} </a>
						<a href="#"> {% include '../../assets/svg/Instagram Copy 3.svg' %} </a>
						<a href="#"> {%include '../../assets/svg/Twitter Copy 3.svg'%} </a>
					</div>
					<div class="social-link-mobile">
						<a href="#">{% include '../../assets/svg/facebook.svg' %}</a>
						<a href="#">{% include '../../assets/svg/vk.svg' %}</a>
						<a href="#">{% include '../../assets/svg/instagram.svg' %}</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="footer__middle">
				<div class="footer__nav">
					<div class="footer__nav-list">
						<ul class="footer__nav-items">
							<h3>Покупателям {% include '../../assets/svg/arrow-down.svg' %}</h3>
							<li><a href="#">Наша почта</a></li>
							<li><a href="#">Оплата и доставка</a></li>
							<li><a href="#">Вопросы и ответы</a></li>
						</ul>
						<ul class="footer__nav-items">
							<h3>Издательство{% include '../../assets/svg/arrow-down.svg' %}</h3>
							<li><a href="#">О компании</a></li>
							<li><a href="#">Авторам</a></li>
							<li><a href="#">Вакансии</a></li>
							<li><a href="#">Контакты</a></li>
						</ul>
						<ul class="footer__nav-items">
							<h3>Книги{% include '../../assets/svg/arrow-down.svg' %}</h3>
							<li><a href="#">Все категории</a></li>
							<li><a href="#">Бестселлеры</a></li>
							<li><a href="#">Новинки</a></li>
							<li><a href="#">Скидки и акции</a></li>
						</ul>
						<ul class="footer__nav-items">
							<h3>Прайс-лист{% include '../../assets/svg/arrow-down.svg' %}</h3>
							<li>
								{% include '../../assets/svg/Shape 2.svg' %}
								<a href="#">Скачать прайс-лист</a>
								<span>PDF, 12 Mb </span>
							</li>
						</ul>
						<ul class="footer__nav-items">
							<h3>Телефон и Email</h3>
							<li>
								{% include '../../assets/svg/Icon-mail.svg' %}
								<a href="#">market@estatut.ru</a></li>
								<li>
									{% include '../../assets/svg/Icon-phone.svg' %}
									<a href="#">8 (968) 660-65-50</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="footer__bottom">
						<div class="footer__bottom-nav">
							<span>© 2020 Издательство «Статут»</span>
							<span>ул. Лобачевского, 92, корп. 2 119454, г. Москва</span>
							<div class="footer__bottom-doc">
							<a href="#">Политика конфиденциальности</a>
							<a href="#">Договор оферты</a>
							</div>
							<div class="footer__bottom-mobile">
							<a href="#"> {% include '../../assets/svg/Icon-mail.svg' %} market@estatut.ru</a>
							<a href="#"> {% include '../../assets/svg/Icon-phone.svg' %} 8 (968) 660-65-50</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		{% endblock %}