
.promotions__wraper
{
	width: 100%;
	display: grid;
    grid-template-columns: minmax(54%, 750px);
    grid-template-areas: "slider book"
    "slider book"
    "bottom book";
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: #F9F9F9;
}

/**
 * slider
 */

 .promotions__slider
 {
 	display: flex;
 	justify-content: center;
 	align-items: center;
    grid-area: slider;
    position: relative;
    height: 350px;
    background: #CCFF90;
    border-radius: 5px;
    button
    {
     background-color: #fff;
     border-radius: 5px;

 }
 .promotions__button-prev
 {
     position: absolute;
     width: 40px;
     height: 40px;
     top: 50%;
     left: 8px;
     transform: translate(50%, -50%);
     border-style: none;
     z-index: 10;
     svg
     {
        vertical-align: middle;
    }
}
.promotions__slider-content
{
    width: 100%;
    height: 100%;
}
.promotions__slider-wraper
{
    width: 100%;
    height: 100%;
    overflow: hidden;
    .promotions__slider-list
    {
        display: flex;
        width: 100%;
        height: 100%;
        transform: translateX(0);
        transition: 0.3s;
    }
    .promotions__slider-item
    {
        display: flex;
        flex-direction: column;
        align-content: center;
        min-width: 100% ;
    }
}
.promotions__button-next
{
 position: absolute;
 width: 40px;
 height: 40px;
 top: 50%;
 right: 8px;
 transform: translate(-50%, -50%);
 border-style: none;
 z-index: 10;
 svg
 {
    vertical-align: middle;
}
}
ol
{
    list-style: none;
    position: absolute;
    bottom: 3%;
    margin: 0;
    padding: 0;
    left: 50%;
    transform: translate(-50%, 0);
    li
    {
        background-color: #ffff;
        border-radius: 10%;
        display: inline-block;
        width:26px;
        height:3px;
        cursor: pointer;
        opacity: 0.5;
        &.active
        {
            opacity: 1;
        }
    }


}
}
.promotions__slider-content
{
    li
    {
       display: flex;
       align-items: center;
       justify-content: center;
       flex-wrap: wrap;
       height: 100%;
       width: 170px;
       gap: 20px;
   }
}

// bookday
%font-position__main
{
  font-family: Roboto;
  font-style: normal;
}
.promotions__bookday
{
  position: relative;
  grid-area: book;
  background: #FFFFFF;
  border-radius: 5px;
  margin-left: 30px;
  .promotions__bookday-top
  {
     display: flex;
     justify-content: space-between;
     margin-right: 20px;
     margin-left: 20px;
     margin-top: 21px;
 }
 .promotions__bookday-bottom
 {
     display: flex;
     flex-direction: column;
 }
 &-timer
 {
     width: 68px;
     height: 25px;
     padding: 5px;
     @extend%font-position__main;
     font-weight: 500;
     font-size: 12px;
     line-height: 15px;
     background: rgba(255, 122, 0, 0.15);
     border-radius: 5px;
     text-align: center;
     color: #FF7A00;
 }
 h3
 {
     margin: 0;
 }
 a:first-child
 {
     margin: 20px auto 15px auto;
     width: 167px;
     height: 250px;

 }
 .promotions__bookday-name
 {
     @extend%font-position__main;
     margin-left: 20px;
     margin-bottom: 7px;
     font-weight: normal;
     font-size: 12px;
     line-height: 15px;
     color: rgba(28, 41, 77, 0.5);
 }
 .promotions__bookday-description
 {
     @extend%font-position__main;
     margin-left: 20px;
     margin-bottom: 9px;
     font-weight: 500;
     font-size: 14px;
     line-height: 19px;
     color: #1C294D;
 }
 .promotions__bookday-author
 {
     @extend%font-position__main;
     margin-left: 20px;
     margin-bottom: 8px;
     font-weight: normal;
     font-size: 12px;
     line-height: 15px;
     letter-spacing: -0.1px;
     color: #1C294D;
     opacity: 0.8;
 }
 .promotions__bookday-price
 {
     @extend%font-position__main;
     margin-left: 20px;
     margin-bottom: 12px;
     font-weight: bold;
     font-size: 18px;
     line-height: 20px;
     color: #1C294D;
 }
 .promotions__button-bookday-wrapper
 {
     display: flex;
 }
 .promotions__button-bookday
 {
     width: 146px;
     height: 40px;
     margin-left: 20px;
     margin-right: 10px;
     border: 1px solid #EEEEEE;
     box-sizing: border-box;
     border-radius: 5px;
     span:before
     {
        content: url("./svg/basket-orange.svg");
        position: absolute;
        top: 0;
        left: -29px;
    }
    span
    {
        position: relative;
        margin-left: 30px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 15px;
        color: #1C294D;
    }
}
.promotions__bookday-link
{
 width: 40px;
 height: 40px;
 background: #FFFFFF;
 border: 1px solid #EEEEEE;
 box-sizing: border-box;
 border-radius: 5px;
 display: inline-block;
 svg
 {
    margin: 10px 14px;
}
}
}

  // promotions__bottom

  .promotions__bottom
  {
      display: flex;
      grid-area: bottom;
      .promotions__bottom-delivery
      {
         display: flex;
         flex-basis: 100%;
         min-height: 140px;
         margin-top: 30px;
         align-items: center;
         background: #6D378F;
         border-radius: 5px;
         h3
         {
            margin-left: 25px;
            margin-right: 13px;
            font-family: Gosha Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 25px;
            color: #FFFFFF;
            z-index: 2;
        }
        img
        {
            width: 97.78px;
            height: 100px;
            margin-right: 25px;
        }
        span
        {
            position: relative;
        }
        span:after
        {
            content: url("./svg/orange-line.svg");
            position: absolute;
            top: 0px;
            z-index: -1;
            left: -11px;

        }
    }
    .promotions__bottom-sale
    {
     display: flex;
 		align-items: center;
 		justify-content: space-evenly;
        flex-basis: 100%;
        min-height: 140px;
        margin-top: 30px;
        margin-left: 30px;
        background: #FFD8EF;
        border-radius: 5px;
        h3
        {
            margin-left: 4px;
            font-family: Gosha Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 25px;
            color: rgba(28, 41, 77, 0.8);
            z-index: 2;
        }
        img
        {
            width: 125px;
            margin-right: 4px;
        }
        span
        {
            position: relative;
        }
        span:after
        {
            content: url("/svg/blue-line.svg");
            position: absolute;
            z-index: -1;
            top: 0;
            left: 19px;
        }
    }
}
@media (max-width: 1100px)
{ 	.promotions__wraper-slider-block
  {

     .promotions__bottom-delivery
     {
        width: 50%;
        h3
        {
           width: 0;
       }
       img
       {
           width: 50%;
       }
       svg
       {
        top: 22px;
    }
}
.promotions__bottom-sale
{
    width: 50%;
    h3
    {
       width: 50%;
   }
   img
   {
       width: 50%;
   }
}
}
.promotions__slider
{
 width: 100%;
}
.promotions__bookday
{
 img
 {
    left:100px;
}
}
}
@media (max-width: 992px)
{
    .promotions__slider
    {
        width: 100%;
    }
    .promotions__bottom
    {
       .promotions__bottom-delivery
       {
        h3
        {
         margin-left: 14px;
         margin-right: -8px;
         font-size: 15px;
     }
     svg
     {
         top: 18px;
         left: 2px;
     }
 }

 .promotions__bottom-sale
 {
    h3
    {
     font-size: 15px;
 }
 svg
 {
     left: 0px;
     top: 103px;
 }
}
}
}
@media (max-width: 767px)
{

   .promotions__wraper
   {
       flex-wrap: wrap;
   grid-template-areas: "slider"
   "book"
   "bottom";

   .promotions__wraper-slider-block
   {
    width: 100%;
    .promotions__slider
    {
       width: 100%;
       grid-area: slider;
       height: 175px;
       margin-right: 0;
       margin-top: 0px;
       margin-bottom: 10px;
   }
   .promotions__slider-content
   {
       ul
       {
        margin: 0 auto;
    }
    li
    {
      gap: 8px;
  }
  img
  {
      width: 83px;
      margin-top: 23px;
  }
  img:last-of-type
  {
      margin: 0;
      margin-bottom: 22px;
  }
  svg
  {
      margin-top: 18px;
  }
}
.promotions__slider-buttons
{
   display: none;
}
}
.promotions__bookday
{
    width: 100%;
    grid-area: book;
    margin: 0;
    margin-bottom: 10px;
    img
    {
       height: 200px;
       width: 133px;
       margin: 0 auto;

   }
   .promotions__bookday-top
   {
       margin-top: 0;
       padding-top: 20px;
       padding-bottom: 21px;
   }
   .promotions__bookday-bottom
   {
       img
       {
          margin-bottom: 15px;
      }
  }
  .promotions__button-bookday
  {
   width: 75%;
   margin-bottom: 20px;
}
.promotions__bookday-link
{
   svg
   {
      margin: 10px 13px;
  }

}
}
.promotions__bottom
{
    flex-wrap: wrap;
    grid-area: bottom;
    .promotions__bottom-delivery
    {
       width: 100%;
       margin: 0;
       margin-bottom: 10px;
       h3
       {
          font-size: 20px;
          margin-left: 20px;
      }
      img
      {
        object-fit: contain;
        width: 27%;
        height: 74%;
        margin-left: 24px;
        margin-right: 0;
    }
    svg
    {
      top: 33px;
      left: 0;
  }
}
.promotions__bottom-sale
{
   width: 100%;
   margin: 0;
   margin-bottom: 10px;
   h3
   {
      width: 55%;
      margin-left: 20px;
      font-size: 20px;
  }
  img
  {
    object-fit: contain;
    width: 36%;
    margin-right: 19px;
}
svg
{
  top: 83px;
  left: 33px;
}
}
}
}
}