<section class="promotions">
	<div class="container">
		<div class="promo__wraper">
			<div class="promo__wraper-slider-block">
				<div class="promo__slider">
				<div class="promo__slider-buttons">
					<button class="button-prev">
						{% include '../../assets/svg/arrow-left.svg' %}
					</button>
					<button class="button-next">
						{% include '../../assets/svg/arrow-right.svg' %}
					</button>
				</div>
					<div class="promo__slider-content">
						<ul>
							<li>
								<img src="/img/2=3.png" alt="2=3">
								<img src="/img/на все книги.png" alt="">
							</li>
						</ul>
					</div>
				</div>
				<div class="promo__bottom">
					<div class="promo__bottom-delivery">
						<h3>Бесплатно доставим ваш заказ при покупке от 2000 ₽</h3>
						{% include '../../assets/svg/orange-line.svg' %}
						<img src="/img/promo__bottom.png" alt="delivery">
					</div>
					<div class="promo__bottom-sale">
						<h3>Скидка <br> при регистрации <br> до 15%</h3>
						{% include '../../assets/svg/blue-line.svg' %}
						<img src="/img/bottom-sale.png" alt="sale">
					</div>
				</div>
			</div>
			<div class="promo__bookday">
			<div class="promo__bookday-top">
				<h3>Книга дня</h3>
				<span class="promo__bookday-timer">08:56:31</span>
			</div>
			<div class="promo__bookday-bottom">
				<img src="/img/Roi.png" alt="book of the day">
				<span class="promo__bookday-name">Корпоративное право</span>
				<h3 class="promo__bookday-description">Инвестирование: способы, риски, субъекты : монография</h3>
				<span class="promo__bookday-author">Майфат А.В.</span>
				<span class="promo__bookday-price">4 450 ₽ </span>
			</div>
			<div class="button__bookday-wraper">
				<button class="button__bookday">
					{% include '../../assets/svg/basket-orange.svg' %}
					<span class="promo__bookday-basket">В корзину</span>
				</button>
				<a class="bookday__link" href="#">
					{% include '../../assets/svg/Icon-postponed.svg' %}
				</a>
			</div>
			</div>
		</div>
	</div>
</section>

<section class="promotions--mobile">
	<div class="container">
		<div class="promo__wraper">
			<div class="promo__wraper-slider-block">
				<div class="promo__slider">
				<div class="promo__slider-buttons">
					<button class="promo__slider-button-left">
						{% include '../../assets/svg/arrow-left.svg' %}
					</button>
					<button class="promo__slider-button-right">
						{% include '../../assets/svg/arrow-right.svg' %}
					</button>
				</div>
					<div class="promo__slider-content">
						<ul>
							<li>
								<img src="/img/2=3.png" alt="2=3">
								<img src="/img/на все книги.png" alt="">
								{% include '../../assets/svg/Slider.svg' %}
							</li>
							{# <li>
								<img src="/img/2=3.png" alt="2=3">
								<img src="/img/на все книги.png" alt="">
							</li>
							<li>
								<img src="/img/2=3.png" alt="2=3">
								<img src="/img/на все книги.png" alt="">
							</li>
							<li>
								<img src="/img/2=3.png" alt="2=3">
								<img src="/img/на все книги.png" alt="">
							</li>
							<li>
								<img src="/img/2=3.png" alt="2=3">
								<img src="/img/на все книги.png" alt="">
							</li> #}
						</ul>
					</div>
				</div>
				<div class="promo__bookday">
			<div class="promo__bookday-top">
				<h3>Книга дня</h3>
				<span class="promo__bookday-timer">08:56:31</span>
			</div>
			<div class="promo__bookday-bottom">
				<img src="/img/Roi.png" alt="book of the day">
				<span class="promo__bookday-name">Корпоративное право</span>
				<h3 class="promo__bookday-description">Инвестирование: способы, риски, субъекты : монография</h3>
				<span class="promo__bookday-author">Майфат А.В.</span>
				<span class="promo__bookday-price">4 450 ₽ </span>
			</div>
			<div class="button__bookday-wraper">
				<button class="button__bookday">
					{% include '../../assets/svg/basket-orange.svg' %}
					<span class="promo__bookday-basket">В корзину</span>
				</button>
				<a class="bookday__link" href="#">
					{% include '../../assets/svg/Icon-postponed.svg' %}
				</a>
			</div>
			</div>
				<div class="promo__bottom">
					<div class="promo__bottom-delivery">
						<h3>Бесплатно доставим ваш заказ при покупке от 2000 ₽</h3>
						{% include '../../assets/svg/orange-line.svg' %}
						<img src="/img/promo__bottom.png" alt="delivery">
					</div>
					<div class="promo__bottom-sale">
						<h3>Скидка <br> при регистрации <br> до 15%</h3>
						{% include '../../assets/svg/blue-line.svg' %}
						<img src="/img/bottom-sale.png" alt="sale">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript">
	const slides = document.querySelectorAll('')
</script>