<section class="promotions">
	<div class="container">
		<div class="promotions__wraper">
			<div class="promotions__wraper-slider-block">
				<div class="promotions__slider _promo__slider">
					<div class="promotions__slider-buttons">
						<button class="promotions__button-prev" onclick="o2.promotions.goToSlide('prev')">
							{% include '../../assets/svg/arrow-left.svg' %}
						</button>
						<button class="promotions__button-next" onclick="o2.promotions.goToSlide('next')">
							{% include '../../assets/svg/arrow-right.svg' %}
						</button>
					</div>
					<div class="promotions__slider-content">
						<div class="promotions__slider-wraper">
							<ul class="promotions__slider-list">
								<li class="promotions__slider-item">
									<img src="./img/2=3.png" alt="2=3">
									<img src="/img/на все книги.png" alt="">
								</li>
								<li class="promotions__slider-item">
									<img src="./img/2=3.png" alt="2=3">
									<img src="/img/на все книги.png" alt="">
								</li>
								<li class="promotions__slider-item">
									<img src="./img/2=3.png" alt="2=3">
									<img src="/img/на все книги.png" alt="">
								</li>
								<li class="promotions__slider-item">
									<img src="./img/2=3.png" alt="2=3">
									<img src="/img/на все книги.png" alt="">
								</li>
							</ul>
						</div>
						<ol class="promotions__slider-dots">
							<li class="dot _dot" onclick="o2.promotions.position(0)"></li>
							<li class="dot _dot" onclick="o2.promotions.position(1)"></li>
							<li class="dot _dot" onclick="o2.promotions.position(2)"></li>
							<li class="dot _dot" onclick="o2.promotions.position(3)"></li>
						</ol>
					</div>
				</div>
			</div>
			<div class="promotions__bottom">
				<div class="promotions__bottom-delivery">
					<h3><span>Бесплатно</span> доставим ваш заказ при покупке от 2000 ₽</h3>
					<img src="./img/promo__bottom.png" alt="delivery">
				</div>
				<div class="promotions__bottom-sale">
					<h3>Скидка <br> при регистрации <br> <span>до 15%</span></h3>
					<img src="./img/bottom-sale.png" alt="sale">
				</div>
			</div>
			<div class="promotions__bookday">
				<div class="promotions__bookday-top">
					<h3>Книга дня</h3>
					<span class="promotions__bookday-timer">08:56:31</span>
				</div>
				<div class="promotions__bookday-bottom">
					<a href="#"><img src="./img/Roi.png" alt="book of the day"></a>
					<span class="promotions__bookday-name">Корпоративное право</span>
					<h3 class="promotions__bookday-description"><a href="#">Инвестирование: способы, риски, субъекты : монография</a></h3>
					<span class="promotions__bookday-author">Майфат А.В.</span>
					<span class="promotions__bookday-price">4 450 ₽ </span>
				</div>
				<div class="promotions__button-bookday-wrapper">
					<button class="promotions__button-bookday">
						<span class="promotions__bookday-basket">В корзину</span>
					</button>
					<a class="promotions__bookday-link" href="#">
						{% include '../../assets/svg/Icon-postponed.svg' %}
					</a>
				</div>
			</div>
		</div>
	</div>
</section>


