<section class="promotions">
	<div class="container">
		<div class="promo__wraper">
			<div class="promo__wraper-slider-block">
				<div class="promo__slider _promo__slider">
				<div class="promo__slider-buttons">
					<button class="button-prev" onclick="o2.promotions.plusSlides(-1)">
						{% include '../../assets/svg/arrow-left.svg' %}
					</button>
					<button class="button-next" onclick="o2.promotions.plusSlides(1)">
						{% include '../../assets/svg/arrow-right.svg' %}
					</button>
				</div>
					<div class="promo__slider-content">
					<div class="slider-wraper">
						<ul>
							<li class="slider-item">
								<img src="/img/2=3.png" alt="2=3">
								<img src="/img/на все книги.png" alt="">
							</li>
							<li class="slider-item">
								<img src="/img/2=3.png" alt="2=3">
								<img src="/img/на все книги.png" alt="">
							</li>
							<li class="slider-item">
								<img src="/img/2=3.png" alt="2=3">
								<img src="/img/на все книги.png" alt="">
							</li>
							<li class="slider-item">
								<img src="/img/2=3.png" alt="2=3">
								<img src="/img/на все книги.png" alt="">
							</li>
						</ul>
					</div>
					</div>
						<ol class="promo__slider-dots">
						<li class="dot _dot" onclick="o2.promotions.showSlides(1)"></li>
						<li class="dot _dot" onclick="o2.promotions.showSlides(2)"></li>
						<li class="dot _dot" onclick="o2.promotions.showSlides(3)"></li>
						<li class="dot _dot" onclick="o2.promotions.showSlides(4)"></li>
					</ol>
				</div>
				<div class="promo__bottom">
					<div class="promo__bottom-delivery">
						<h3>Бесплатно доставим ваш заказ при покупке от 2000 ₽</h3>
						{% include '../../assets/svg/orange-line.svg' %}
						<img src="/img/promo__bottom.png" alt="delivery">
					</div>
					<div class="promo__bottom-sale">
						<h3>Скидка <br> при регистрации <br> до 15%</h3>
						{% include '../../assets/svg/blue-line.svg' %}
						<img src="/img/bottom-sale.png" alt="sale">
					</div>
				</div>
			</div>
			<div class="promo__bookday">
			<div class="promo__bookday-top">
				<h3>Книга дня</h3>
				<span class="promo__bookday-timer">08:56:31</span>
			</div>
			<div class="promo__bookday-bottom">
				<img src="/img/Roi.png" alt="book of the day">
				<span class="promo__bookday-name">Корпоративное право</span>
				<h3 class="promo__bookday-description">Инвестирование: способы, риски, субъекты : монография</h3>
				<span class="promo__bookday-author">Майфат А.В.</span>
				<span class="promo__bookday-price">4 450 ₽ </span>
			</div>
			<div class="button__bookday-wraper">
				<button class="button__bookday">
					{% include '../../assets/svg/basket-orange.svg' %}
					<span class="promo__bookday-basket">В корзину</span>
				</button>
				<a class="bookday__link" href="#">
					{% include '../../assets/svg/Icon-postponed.svg' %}
				</a>
			</div>
			</div>
		</div>
	</div>
</section>

<!-- <section class="promotions--mobile">
	<div class="container">
		<div class="promo__wraper">
			<div class="promo__wraper-slider-block">
				<div class="promo__slider">
				<div class="promo__slider-buttons">
					<button class="button-prev" onclick="o2.promotions.plusSlides(-1)">
						{% include '../../assets/svg/arrow-left.svg' %}
					</button>
					<button class="button-next" onclick="o2.promotions.plusSlides(1)">
						{% include '../../assets/svg/arrow-right.svg' %}
					</button>
				</div>
					<div class="promo__slider-content">
						<ul>
							<li class="slider-item">
								<img src="/img/2=3.png" alt="2=3">
								<img src="/img/на все книги.png" alt="">
							</li>
							<li class="slider-item">
								<img src="/img/2=3.png" alt="2=3">
								<img src="/img/на все книги.png" alt="">
							</li>
							<li class="slider-item">
								<img src="/img/2=3.png" alt="2=3">
								<img src="/img/на все книги.png" alt="">
							</li>
							<li class="slider-item">
								<img src="/img/2=3.png" alt="2=3">
								<img src="/img/на все книги.png" alt="">
							</li>
							<li class="slider-item">
								<img src="/img/2=3.png" alt="2=3">
								<img src="/img/на все книги.png" alt="">
							</li>
						</ul>
					</div>
					<ol class="promo__slider-dots">
						<li></li>
						<li></li>
						<li></li>
						<li></li>
				</div>
				<div class="promo__bookday">
			<div class="promo__bookday-top">
				<h3>Книга дня</h3>
				<span class="promo__bookday-timer">08:56:31</span>
			</div>
			<div class="promo__bookday-bottom">
				<img src="/img/Roi.png" alt="book of the day">
				<span class="promo__bookday-name">Корпоративное право</span>
				<h3 class="promo__bookday-description">Инвестирование: способы, риски, субъекты : монография</h3>
				<span class="promo__bookday-author">Майфат А.В.</span>
				<span class="promo__bookday-price">4 450 ₽ </span>
			</div>
			<div class="button__bookday-wraper">
				<button class="button__bookday">
					{% include '../../assets/svg/basket-orange.svg' %}
					<span class="promo__bookday-basket">В корзину</span>
				</button>
				<a class="bookday__link" href="#">
					{% include '../../assets/svg/Icon-postponed.svg' %}
				</a>
			</div>
			</div>
				<div class="promo__bottom">
					<div class="promo__bottom-delivery">
						<h3>Бесплатно доставим ваш заказ при покупке от 2000 ₽</h3>
						{% include '../../assets/svg/orange-line.svg' %}
						<img src="/img/promo__bottom.png" alt="delivery">
					</div>
					<div class="promo__bottom-sale">
						<h3>Скидка <br> при регистрации <br> до 15%</h3>
						{% include '../../assets/svg/blue-line.svg' %}
						<img src="/img/bottom-sale.png" alt="sale">
					</div>
				</div>
			</div
		</div>
	</div>
</section> -->
<!-- <script type="text/javascript">
	const slides = document.querySelectorAll('.slider-item'),
		  prev = document.querySelector('.button-prev'),
		  next = document.querySelector('.button-next');
	let slideIndex = 1;

	showSlides(slideIndex);

	function showSlides(n)
	{
		if(n > slides.length)
		{
			n = 1;
		}

		if(n < 1)
		{
			n = slides.length;
		}

		slides.forEach(item => item.style.display = 'none' );

		slides[n - 1].style.display = 'block';
	}

	function plusSlides(n)
	{
		showSlides( slideIndex += n);
	}

	prev.addEventListener('click', () =>
	{
		plusSlides(-1);
	});
	next.addEventListener('click', () =>
	{
		plusSlides(1);
	});
</script> -->