
.promotions--mobile
	{
		display: none;
	}
.promo__wraper
{
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	background-color: #F9F9F9;
}

/**
 * slider
 */

.promo__slider
{
	display: flex;
	justify-content: center;
    align-items: center;
    position: relative;
    width: 750px;
    height: 350px;
    margin-top: 45px;
    background: #CCFF90;
	border-radius: 5px;
    button
    {
    	background-color: #fff;
    	border-radius: 5px;

    }
    .promo__slider-button-left
    {
    	position: absolute;
    	top: 50%;
    	left: 0;
    	transform: translate(0, -50%);
    	padding: 11px 16px;
    	margin-left: 28px;
    	border-style: none;
    }
    .promo__slider-button-right
    {
    	position: absolute;
    	top: 50%;
    	right: 0;
    	transform: translate(0, -50%);
    	padding: 11px 16px;
    	margin-right: 28px;
    	border-style: none;
    }

}
.promo__slider-content
{
	li
	{
	    display: flex;
    	align-items: center;
    	justify-content: center;
    	flex-wrap: wrap;
    	height: 100%;
    	width: 170px;
    	gap: 20px;
	}
}

/**
 * book of the day
 */
%font-position-main
{
	font-family: Roboto;
	font-style: normal;
	position: absolute;
}
.promo__bookday
{

	position: relative;
	width: 360px;
	background: #FFFFFF;
	border-radius: 5px;
	min-height: 520px;
	margin-top: 42px;
	&-timer
	{
		top: 25px;
		right: 20px;
		width: 68px;
		height: 25px;
		padding: 5px;
		@extend%font-position-main;
		font-weight: 500;
		font-size: 12px;
		line-height: 15px;
		background: rgba(255, 122, 0, 0.15);
		border-radius: 5px;
		text-align: center;
		color: #FF7A00;
	}
	h3
	{
		position: absolute;
		top: 22px;
		left: 20px;
		margin: 0;
	}
	img
	{
		width: 167px;
		height: 250px;
		position: absolute;
    	top: 68px;
    	right: 95px;
	    left: 95px;

	}
	.promo__bookday-name
	{
		top: 334px;
		left: 20px;
		@extend%font-position-main;
		font-weight: normal;
		font-size: 12px;
		line-height: 15px;
		color: rgba(28, 41, 77, 0.5);
	}
	.promo__bookday-description
	{
		top: 355px;
		left: 20px;
		right: 20px;
		@extend%font-position-main;
		font-weight: 500;
		font-size: 14px;
		line-height: 19px;
		color: #1C294D;
	}
	.promo__bookday-author
	{
		top: 403px;
		left: 20px;
		@extend%font-position-main;
		font-weight: normal;
		font-size: 12px;
		line-height: 15px;
		letter-spacing: -0.1px;
		color: #1C294D;
		opacity: 0.8;
	}
	.promo__bookday-price
	{
		top: 426px;
		left: 20px;
		@extend%font-position-main;
		font-weight: bold;
		font-size: 18px;
		line-height: 20px;
		color: #1C294D;
	}
	.button__bookday
	{
		position: absolute;
		width: 146px;
		height: 40px;
		top: 457px;
		left: 20px;
		border: 1px solid #EEEEEE;
		box-sizing: border-box;
		border-radius: 5px;
		svg
		{
			margin-right: 6px;
		}
		span
		{
			font-family: Roboto;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 15px;
			color: #1C294D;
		}
	}
	.bookday__link
	{
		position: absolute;
		width: 40px;
		height: 40px;
		top: 456px;
		left: 175px;
		background: #FFFFFF;
		border: 1px solid #EEEEEE;
		box-sizing: border-box;
		border-radius: 5px;
		svg
		{
			margin: 10px 14px;
		}
	}
}
/**
 * promo-bottom
 */
.promo__bottom
{
	display: flex;
	.promo__bottom-delivery
	{
		display: flex;
		position: relative;
		width: 360px;
		min-height: 140px;
		margin-top: 30px;
		align-items: center;
		background: #6D378F;
		border-radius: 5px;
		h3
		{
			width: 199px;
			margin-left: 25px;
			margin-right: 13px;
			font-family: Gosha Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 25px;
			color: #FFFFFF;
			z-index: 2;
		}
		svg
		{
			position: absolute;
		    left: 13px;
    		top: 35px;
		}
	}
	.promo__bottom-sale
	{
		display: flex;
		position: relative;
		align-items: center;
		justify-content: space-evenly;
		width: 360px;
		min-height: 140px;
		margin-top: 30px;
		margin-left: 30px;
		background: #FFD8EF;
		border-radius: 5px;
		h3
		{
			width: 162px;
			margin-left: 4px;
			font-family: Gosha Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 25px;
			color: rgba(28, 41, 77, 0.8);
			z-index: 2;
		}
		img
		{
			width: 125px;
			margin-right: 4px;
		}
		svg
		{
			position: absolute;
			left: 45px;
    		top: 83px;
		}
	}
}
@media (max-width: 1100px)
{

	.promotions--mobile
	{
		display: none;
	}
	.container
	{
		max-width: 1024px;
	}
	.promo__wraper-slider-block
	{
		width: 60%;
		.promo__bottom-delivery
		{
			width: 50%;
			h3
			{
				width: 50%;
			}
			img
			{
				width: 50%;
			}
		}
		.promo__bottom-sale
		{
			width: 50%;
			h3
			{
				width: 50%;
			}
			img
			{
				width: 50%;
			}
		}
	}
	.promo__slider
	{
		width: 100%;
	}
	.promo__bookday
	{
		width: 37%;
		img
		{
			left:100px;
		}
	}
}
@media (max-width: 992px)
{
	.promotions--mobile
	{
		display: none;
	}
	.container
 	{
 		max-width: 768px;
 	}
 	.promo__bookday
 	{
 		img
 		{
 			left: 50px;
 		}
 	}

 	.promo__bottom
 	{
 		.promo__bottom-delivery
 	{
 		h3
 		{
 			margin-left: 14px;
    		margin-right: -8px;
    		font-size: 15px;
 		}
 		svg
 		{
 			top: 18px;
 			left: 2px;
 		}
 	}

 		.promo__bottom-sale
	{
		h3
		{
			font-size: 15px;
		}
		svg
		{
		    left: 0px;
    		top: 103px;
		}
	}
 }
}
@media (max-width: 767px) {
	.promotions
	{
		display: none;
	}

	.promotions--mobile
	{
		display: block;
	}
	.promo__wraper
	{
		flex-wrap: wrap;
		.promo__wraper-slider-block
		{
			width: 100%;
			.promo__slider
			{
				width: 100%;
				height: 175px;
				margin-top: 0px;
				margin-bottom: 10px;
			}
			.promo__slider-content
			{
				img
				{
					width: 57%;
				}
			}
			.promo__slider-buttons
			{
				display: none;
			}
		}
		.promo__bookday
		{
			width: 100%;
			margin: 0;
			margin-bottom: 10px;
			img
			{
				left: 50%;
    			transform: translate(-50%, 0px);
			}
		}
		.promo__bottom
		{
			flex-wrap: wrap;
			.promo__bottom-delivery
			{
				width: 100%;
				margin: 0;
				margin-bottom: 10px;
				h3
				{
					width: 57%;
					font-size: 20px;
				}
				img
				{
					width: 30%;
					height: 75%;
				}
				svg
				{
					top: 33px;
					left: 0;
				}
			}
			.promo__bottom-sale
			{
				width: 100%;
				margin: 0;
				margin-bottom: 10px;
				h3
				{
					width: 57%;
					font-size: 20px;
				}
				img
				{
					width: 30%;
				}
				svg
				{
					top: 83px;
					left: 33px;
				}
			}
		}
	}
}