<section class="catalog-items">
	<div class="container">
		<div class="catalog-items__wraper">
			<div class="catalog-items__inner">
				<div class="catalog-items__header">
					<h2> {{ title }} </h2>
					<div class="catalog-items__slider-button">
						<button class="catalog-items__header-button__left">
							{% include '../../assets/svg/lit-arrows-left.svg' %}
						</button>
						<button class="catalog-items__header-button__right">
							{% include '../../assets/svg/lit-arrow-right.svg' %}
						</button>
					</div>
				</div>
			</div>
			<div class="catalog-items__conteiner">
				<div class="catalog-items__book">
					<div class="catalog-items__book__top">
						<div class="catalog-items__book-image">
							<ul>
								<li>Бестселлер</li>
								<li>1+1=3</li>
							</ul>
							<a href=""><img src="./img/image 142.png" alt="image"></a>
						</div>
					</div>
					<div class="catalog-items__book-middle">
						<span class="catalog-items__book-name">Корпоративное право</span>
						<a class="catalog-items__book-description" href="#">Инвестирование: способы, риски, субъекты : монография</a>
						<span class="catalog-items__book-auhtor">Майфат А.В.</span>
						<span class="catalog-items__book-price">4 450 ₽ </span>
					</div>
					<div class="catalog-items__book-bottom">
						<div class="catalog-items__book-star">
							{% include '../../assets/svg/stars.svg' %}
							<span>4.9</span>
						</div>
						<div class="catalog-items__book-recommendation">
							{% include '../../assets/svg/like.svg' %}
							<span>89% рекомендуют</span>
						</div>
						<div class="catalog-items__button-flex">
							<button class="catalog-items__button-buy">
								{% include '../../assets/svg/basket-orange.svg' %}
								<span class="catalog-items__bookday-basket">В корзину</span>
							</button>
							<a class="catalog-items__bookmark" href="#">
								{% include '../../assets/svg/Icon-postponed.svg' %}
							</a>
						</div>
					</div>
				</div>
				<div class="catalog-items__book catalog-items__book--none">
					<div class="catalog-items__book-top">
						<div class="catalog-items__book-image">
							<ul>
								<li class="catalog-items__new">Новинка</li>
							</ul>
							<a href="#"><img src="./img/image 140.png" alt="image"></a>
						</div>
					</div>
					<div class="catalog-items__book-middle">
						<span class="catalog-items__book-name">Договорное право</span>
						<a href="#" class="catalog-items__book-description">Договор коммерческой концессии (франчайзинг). Граж...</a>
						<span class="catalog-items__book-auhtor">Багдасарян А.Ф.</span>
						<span class="catalog-items__book-price">372 ₽</span>
					</div>
					<div class="catalog-items__book-bottom">
						<div class="catalog-items__book-star">
							{% include '../../assets/svg/stars.svg' %}
							<span>4.9</span>
						</div>
						<div class="catalog-items__book-recommendation">
							{% include '../../assets/svg/like.svg' %}
							<span>89% рекомендуют</span>
						</div>
						<div class="catalog-items__button-flex">
							<button class="catalog-items__button-buy">
								{% include '../../assets/svg/basket-orange.svg' %}
								<span class="catalog-items__bookday-basket">В корзину</span>
							</button>
							<a class="catalog-items__bookmark" href="#">
								{% include '../../assets/svg/Icon-postponed.svg' %}
							</a>
						</div>
					</div>
				</div>
				<div class="catalog-items__book catalog-items__book--none">
					<div class="catalog-items__book-top">
						<div class="catalog-items__book-image">
							<a href="#"><img src="./img/image 145.png" alt="image"></a>
						</div>
					</div>
					<div class="catalog-items__book-middle">
						<span class="catalog-items__book-name">Конкурентное право</span>
						<a href="#" class="catalog-items__book-description">Договор коммерческой концессии (франчайзинг). Граж...</a>
						<span class="catalog-items__book-auhtor">Башлаков-Николаев И.В.</span>
						<div class="catalog-items__price-conteiner">
							<span class="catalog-items__book-redprice">984 ₽</span>
							<span class="catalog-items__book-litprice">1 284 ₽</span>
							<span class="catalog-items__book-profit">Выгода 300 ₽</span>
						</div>
					</div>
					<div class="catalog-items__book-bottom">
						<div class="catalog-items__book-star">
							{% include '../../assets/svg/stars.svg' %}
							<span>4.9</span>
						</div>
						<div  class="catalog-items__book-recommendation">
							{% include '../../assets/svg/like.svg' %}
							<span>89% рекомендуют</span>
						</div>
						<div class="catalog-items__button-flex">
							<button class="catalog-items__button-buy">
								{% include '../../assets/svg/basket-orange.svg' %}
								<span class="catalog-items__bookday-basket">В корзину</span>
							</button>
							<a class="catalog-items__bookmark" href="#">
								{% include '../../assets/svg/Icon-postponed.svg' %}
							</a>
						</div>
					</div>
				</div>
				<div class="catalog-items__book">
					<div class="catalog-items__book-top">
						<div class="catalog-items__book-image">
							<ul>
								<li>Бестселлер</li>
								<li>1+1=3</li>
							</ul>
							<a href="#"><img src="./img/image 142.png" alt="image"></a>
						</div>
					</div>
					<div class="catalog-items__book-middle">
						<span class="catalog-items__book-name">Корпоративное право</span>
						<a href="#" class="catalog-items__book-description">Инвестирование: способы, риски, субъекты : монография</a>
						<span class="catalog-items__book-auhtor">Майфат А.В.</span>
						<span class="catalog-items__book-price">4 450 ₽ </span>
					</div>
					<div class="catalog-items__book-bottom">
						<div class="catalog-items__book-star">
							{% include '../../assets/svg/stars.svg' %}
							<span>4.9</span>
						</div>
						<div  class="catalog-items__book-recommendation">
							{% include '../../assets/svg/like.svg' %}
							<span>89% рекомендуют</span>
						</div>
						<div class="catalog-items__button-flex">
							<button class="catalog-items__button-buy">
								{% include '../../assets/svg/basket-orange.svg' %}
								<span class="catalog-items__bookday-basket">В корзину</span>
							</button>
							<a class="catalog-items__bookmark" href="#">
								{% include '../../assets/svg/Icon-postponed.svg' %}
							</a>
						</div>
					</div>
				</div>
			</div>
			<a class="catalog-items__all-book" href="#">Показать все книги раздела</a>
		</div>
	</div>
</section>

