<section class="catalog">
	<div class="container">
		<div class="catalog__wraper">
			<div class="catalog">
				<div class="catalog__header">
					<h2> {{ title }} </h2>
					<div class="catalog__slider-button">
						<button class="catalog__header-button-left">
							{% include '../../assets/svg/lit-arrows-left.svg' %}
						</button>
						<button class="catalog__header-button-right">
							{% include '../../assets/svg/lit-arrow-right.svg' %}
						</button>
					</div>
				</div>
			</div>
			<div class="catalog__conteiner">
				<div class="catalog__book">
					<div class="catalog__book-top">
						<div class="catalog__book-image">
							<ul>
								<li>Бестселлер</li>
								<li>1+1=3</li>
							</ul>
							<a href=""><img src="./img/image 142.png" alt="image"></a>
						</div>
					</div>
					<div class="catalog__book-middle">
						<span class="catalog__book-name">Корпоративное право</span>
						<a class="catalog__book-description" href="#">Инвестирование: способы, риски, субъекты : монография</a>
						<span class="catalog__book-auhtor">Майфат А.В.</span>
						<span class="catalog__book-price">4 450 ₽ </span>
					</div>
					<div class="catalog__book-bottom">
							<div class="catalog__book-star">
								{% include '../../assets/svg/stars.svg' %}
								<span>4.9</span>
							</div>
							<div class="catalog__book-recommendation">
								{% include '../../assets/svg/like.svg' %}
								<span>89% рекомендуют</span>
							</div>
						<div class="catalog__flex">
							<button class="catalog__button-buy">
								{% include '../../assets/svg/basket-orange.svg' %}
								<span class="promo__bookday-basket">В корзину</span>
							</button>
							<a class="catalog__bookmark" href="#">
								{% include '../../assets/svg/Icon-postponed.svg' %}
							</a>
						</div>
					</div>
				</div>
				<div class="catalog__book none">
					<div class="catalog__book-top">
						<div class="catalog__book-image">
							<ul>
								<li class="new">Новинка</li>
							</ul>
							<a href="#"><img src="./img/image 140.png" alt="image"></a>
						</div>
					</div>
					<div class="catalog__book-middle">
						<span class="catalog__book-name">Договорное право</span>
						<a href="#" class="catalog__book-description">Договор коммерческой концессии (франчайзинг). Граж...</a>
						<span class="catalog__book-auhtor">Багдасарян А.Ф.</span>
						<span class="catalog__book-price">372 ₽</span>
					</div>
					<div class="catalog__book-bottom">
						<div class="catalog__book-star">
							{% include '../../assets/svg/stars.svg' %}
							<span>4.9</span>
						</div>
						<div class="catalog__book-recommendation">
							{% include '../../assets/svg/like.svg' %}
							<span>89% рекомендуют</span>
						</div>
						<button class="catalog__button-buy">
							{% include '../../assets/svg/basket-orange.svg' %}
							<span class="promo__bookday-basket">В корзину</span>
						</button>
						<a class="catalog__bookmark" href="#">
							{% include '../../assets/svg/Icon-postponed.svg' %}
						</a>
					</div>
				</div>
				<div class="catalog__book none">
					<div class="catalog__book-top">
						<div class="catalog__book-image">
							<a href="#"><img src="./img/image 145.png" alt="image"></a>
						</div>
					</div>
					<div class="catalog__book-middle">
						<span class="catalog__book-name">Конкурентное право</span>
						<a href="#" class="catalog__book-description">Договор коммерческой концессии (франчайзинг). Граж...</a>
						<span class="catalog__book-auhtor">Башлаков-Николаев И.В.</span>
						<div class="catalog__price-conteiner">
							<span class="catalog__book-redprice">984 ₽</span>
							<span class="catalog__book-litprice">1 284 ₽</span>
							<span class="catalog__book-profit">Выгода 300 ₽</span>
						</div>
					</div>
					<div class="catalog__book-bottom">
						<div class="catalog__book-star">
							{% include '../../assets/svg/stars.svg' %}
							<span>4.9</span>
						</div>
						<div  class="catalog__book-recommendation">
							{% include '../../assets/svg/like.svg' %}
							<span>89% рекомендуют</span>
						</div>
						<button class="catalog__button-buy">
							{% include '../../assets/svg/basket-orange.svg' %}
							<span class="promo__bookday-basket">В корзину</span>
						</button>
						<a class="catalog__bookmark" href="#">
							{% include '../../assets/svg/Icon-postponed.svg' %}
						</a>
					</div>
				</div>
				<div class="catalog__book">
					<div class="catalog__book-top">
						<div class="catalog__book-image">
							<ul>
								<li>Бестселлер</li>
								<li>1+1=3</li>
							</ul>
							<a href="#"><img src="./img/image 142.png" alt="image"></a>
						</div>
					</div>
					<div class="catalog__book-middle">
						<span class="catalog__book-name">Корпоративное право</span>
						<a href="#" class="catalog__book-description">Инвестирование: способы, риски, субъекты : монография</a>
						<span class="catalog__book-auhtor">Майфат А.В.</span>
						<span class="catalog__book-price">4 450 ₽ </span>
					</div>
					<div class="catalog__book-bottom">
						<div class="catalog__book-star">
							{% include '../../assets/svg/stars.svg' %}
							<span>4.9</span>
						</div>
						<div  class="catalog__book-recommendation">
							{% include '../../assets/svg/like.svg' %}
							<span>89% рекомендуют</span>
						</div>
						<button class="catalog__button-buy">
							{% include '../../assets/svg/basket-orange.svg' %}
							<span class="promo__bookday-basket">В корзину</span>
						</button>
						<a class="catalog__bookmark" href="#">
							{% include '../../assets/svg/Icon-postponed.svg' %}
						</a>
					</div>
				</div>
			</div>
			<a class="catalog__all-book" href="#">Показать все книги раздела</a>
		</div>
	</div>
</section>

