
%top-property
{
	width: 263px;
	min-height: 460px;
	background: #FFFFFF;
	font-family: Roboto;
	font-style: normal;
}
%button_property
{
	width: 61%;
	height: 40px;
	border-radius: 5px;
	color: #1C294D;
	border: 1px solid #EEEEEE;
	font-weight: 500;
	font-size: 14px;
	line-height: 15px;
}
.catalog-items
{
	margin-top: 30px;
}
.catalog-items__header
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	width: 100%;
	margin: 0 auto;
	background-color: #fff;
	h2
	{
		margin-left: 25px;
		margin-bottom: 0;
		font-weight: bold;
		font-size: 20px;
		line-height: 25px;
		font-family: Roboto;
		font-style: normal;
		color: #1C294D;
	}
	.catalog-items__slider-button
	{
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 60px;
		height: 30px;
		margin-right: 25px;
		box-sizing: border-box;
		border-radius: 5px;
		button
		{
			display: flex;
			border-style: none;
			padding: 12px;
		}
		button:last-child
		{
			border: 1px solid #EEEEEE;
			border-radius: 0px 5px 5px 0px;

		}
		button:first-child
		{
			border-left: 1px solid #EEEEEE;
			border-top: 1px solid #EEEEEE;
			border-bottom: 1px solid #EEEEEE;
			border-radius: 5px 0px 0px 5px;
		}
		.catalog-items__header-button-left
		{

		}
		.catalog-items__header-button-right
		{
		}
	}
}
.catalog-items__wraper
{
	width: 100%;
	min-height: 562px;
	margin: 0 auto;
	margin-bottom: 30px;
	background: #FFFFFF;
	border-radius: 5px;
	.catalog-items__all-book
	{
		display: block;
		width: 188px;
		margin: 10px auto;
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		color: #1C294D;
	}
}
.catalog-items__conteiner
{
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
}
.catalog-items__book--none
	{
		display: block;
	}
.catalog-items__book
{
	.catalog-items__button-flex
	{
		display: flex;
	}
	&:nth-child(1)
	{
		ul
		{
			top: 22px;
		}
		img
		{
			margin-left: 42px;
			padding-bottom: 18px;
		}
		.catalog-items__book-description
		{
			width: 85%;
		}
		.catalog-items__bookmark
		{
			margin-left: 8px;
		}
	}
	&:nth-child(2)
	{
		.catalog-items__new
			{
				width: 70px;
				color: #3DC47E;
				background-color: #E2F6EC;
			}
		ul
		{
			top: 22px;
			left: 8px;
		}
		img
		{
			margin-left: 55px;
			padding-bottom: 16px;
		}
		.catalog-items__book-middle
		{
			padding-left: 7px;
			.catalog-items__book-description
			{
				width: 89%;
			}
		}
		.catalog-items__book-bottom
		{
			padding-left: 8px;
			margin-bottom: 10px;
		}
		.catalog-items__bookmark
		{
			margin-left: 10px;
		}
	}
	&:nth-child(3)
	{
		img
		{
			margin-left: 52px;
			padding-bottom: 17px;
		}
		.catalog-items__book-middle
		{
			margin-left: 14px;
		}
		.catalog-items__book-descripti-
		{
			width: 89%;
		}
		.catalog-items__book-bottom
		{
			margin-left: 14px;
			margin-bottom: 10px;
		}
		.catalog-items__bookmark
		{
			margin-left: 10px;
		}
	}
	&:nth-child(4)
	{
		ul
		{
			top: 22px;
			left: 23px;
		}
		img
		{
			margin-left: 64px;
			padding-bottom: 18px;
		}
		.catalog-items__book-description
		{
			width: 85%;
		}
		.catalog-items__bookmark
		{
			margin-left: 8px;
		}
		.catalog-items__book-middle
		{
			margin-left: 22px;
		}
		.catalog-items__book-bottom
		{
			margin-left: 22px;
			margin-bottom: 10px;
		}
	}

	position: relative;
	padding-left: 20px;
	width: 100%;
	&:not(:last-child)
	{
		border-right: 1px solid #E5E5E5;
	}
	@extend %top-property;

	.catalog-items__book-image
	{
		position: relative;

	}
	img
	{
		display: block;
		padding-top: 25px;
	}
	ul
	{
		position: absolute;
		li:first-child
		{
			width: 86px;
			height: 25px;
			padding: 7px;
			margin-bottom: 10px;
			background: #EEE9F7;
			border-radius: 5px;
			font-weight: 500;
			font-size: 12px;
			line-height: 10px;
			text-align: center;
			color: #AC8EE3;

		}
		li:last-child
		{
			width: 54px;
			height: 25px;
			padding: 7px;
			background: #FFEEEE;
			border-radius: 5px;
			font-weight: 500;
			font-size: 12px;
			line-height: 10px;
			text-align: center;
			color: #FF4F52;
		}
	}

	.catalog-items__book-name
	{
		display: block;
		font-weight: normal;
		margin-bottom: 6px;
		font-size: 12px;
		line-height: 15px;
		color: rgba(28, 41, 77, 0.5);
	}
	.catalog-items__book-description
	{
		display: inline-block;
		margin-bottom: 9px;
		width: 100%;
		font-weight: 500;
		font-size: 14px;
		line-height: 19px;
		color: #1C294D;
	}
	.catalog-items__book-auhtor
	{
		display: block;
		margin-bottom: 8px;
		font-weight: normal;
		font-size: 12px;
		line-height: 15px;
		color: rgba(28, 41, 77, 0.5);
	}
	.catalog-items__book-price
	{
		display: block;
		margin-bottom: 10px;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 20px;
		color: #1C294D;
	}
	.catalog-items__price-conteiner
	{
		margin: 0 0 5px;
		span:nth-child(2)::before
		{
			content: '';
			position: absolute;
			top: 6.43px;
			transform: rotate(-5deg);
			width: 41px;
			height: 1px;
			background-color: #FD3A3A;
		}
		.catalog-items__book-redprice
		{
			display: inline-block;
			padding-right: 4px;
			color: #FD3A3A;
			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 20px;
		}
		.catalog-items__book-litprice
		{
			position: relative;
			padding-right: 3px;
			color: #1C294D80;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 12px;
			line-height: 15px;
		}

		.catalog-items__book-profit
		{
			color: #0DB98C;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 12px;
			line-height: 15px;
		}
	}
	.catalog-items__book-star
	{
		display: inline-block;
		margin-bottom: 10px;
		padding: 5px 8px;
		background: rgba(#FBC02D, 0.15);
		border-radius: 5px;
		text-align: center;
		line-height: 0;
		svg
		{
			vertical-align: middle;
		}
		span
		{
			font-family: Roboto;
			font-style: normal;
			font-weight: 500;
			font-size: 12px;
			line-height: 13px;
			text-transform: uppercase;
			color: #E0A423;
		}
	}
	.catalog-items__book-recommendation
	{
		display: inline-block;
		margin-bottom: 10px;
		white-space: nowrap;
		padding: 5px 10px;
		background:rgba(#7986CB, 0.15);
		border-radius: 5px;
		text-align: center;
		line-height: 0;
		span
		{
			vertical-align: middle;
			font-weight: 500;
			font-size: 12px;
			line-height: 100%;
			color: #7986CB;
		}
		svg
		{
			vertical-align: middle;
			margin-right: 3px;
		}
	}
}
.catalog-items__button-buy
{
	@extend %button_property;
	display: flex;
	width: 146px;
	justify-content: center;
	align-items: center;

	span
	{
		margin-left: 11px;
	}
}
.catalog-items__bookmark
{
	display: inline-block;
	vertical-align: middle;
	height: 40px;
	padding: 11px 14px;
	background: #FFFFFF;
	border: 1px solid #EEEEEE;
	border-radius: 5px;
}

@media (max-width: 1100px)
{
	.catalog-items__book-description
	{
		overflow: hidden;
		text-overflow: ellipsis;
		display: -moz-box;
		-moz-box-orient: vertical;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		line-clamp: 3;
		box-orient: vertical;
	}
}

@media (max-width: 992px)
{

	.catalog-items__book:last-child
	{
		display: none;
	}
	.catalog-items__book
	{
		img
		{
			margin-left: 30px;
		}
	}
}
@media (max-width: 767px)
{
	.catalog-items__inner
	{
		margin: 0;
	}
	.catalog-items__header
	{
		h2
		{
			margin-left: 10px;
		}
		.catalog-items__slider-button
		{
			margin-right: 10px;
		}
	}
	.catalog-items__book
	{
		padding: 0;
		padding-left: 10px;
		width: 100%;
		&:nth-child(1)
		{
			img
			{
				margin: 0;
			}
			.catalog-items__book-recommendation
			{
				width: 80%;
			}
		}
		&:nth-child(4)
		{
			img
			{
				margin: 0;
			}
			.catalog-items__book-recommendation
			{
				width: 80%;
			}
			ul
			{
				left: 0;
			}
			.catalog-items__book-bottom
			{
				margin-bottom: 10px;
				margin-left: 0;

			}
			.catalog-items__book-middle
			{
				margin-left: 0;
			}
		}

		ul
		{
			left: 0;
		}
		&:first-child
		{
			padding-left: 10px;
			padding-right: 0;
		}
		img
		{
			margin: 0;
			margin: 0 auto;
		}
		&:last-of-type
		{
			display: block;
		}
		.catalog-items__book-name
		{
			margin-bottom: 5px;
		}
		.catalog-items__book-description
		{
			width: 100%;
			margin-bottom: 7px;
		}
		.catalog-items__book-price
		{
			margin-bottom: 5px;
		}
		.catalog-items__book-star
		{
			margin-bottom: 8px;
		}
		.catalog-items__book-recommendation
		{
			display: block;
			width: 86%;
		}

	}
	.catalog-items__book--none
		{
			display: none;
		}
	.catalog-items__button-buy
	{
		height: 35px;
		width: 68%;
	}
	.catalog-items__bookmark
	{
		height: 35px;
		right: 10px;
		padding: 8px 14px;
	}
	.catalog-items__wraper
	{
		margin: 0;
		margin-bottom: 10px;
		padding-bottom: 1px;
	}
	.catalog-items__all-book
	{
		margin-bottom: 10px;
	}
}
