
%top-property
{
	width: 263px;
	min-height: 460px;
	background: #FFFFFF;
	// border-radius: 5px;
	font-family: Roboto;
	font-style: normal;
}
%button_property
{
	width: 146px;
	height: 40px;
	border-radius: 5px;
	color: #1C294D;
	border: 1px solid #EEEEEE;
	font-weight: 500;
	font-size: 14px;
	line-height: 15px;
}
.catalog
{
	margin-top: 30px;
}
.catalog__header
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	width: 100%;
	margin: 0 auto;
	background-color: #fff;
	h2
	{
		margin-left: 25px;
		margin-bottom: 0;
		font-weight: bold;
		font-size: 20px;
		line-height: 25px;
		font-family: Roboto;
		font-style: normal;
		color: #1C294D;
	}
	.catalog__slider-button
	{
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 60px;
		height: 30px;
		margin-right: 25px;
		box-sizing: border-box;
		border-radius: 5px;
		button
		{
			display: flex;
			border-style: none;
			padding: 12px;
		}
		button:last-child
		{
			border: 1px solid #EEEEEE;
			border-radius: 0px 5px 5px 0px;

		}
		button:first-child
		{
			border-left: 1px solid #EEEEEE;
			border-top: 1px solid #EEEEEE;
			border-bottom: 1px solid #EEEEEE;
			border-radius: 5px 0px 0px 5px;
		}
		.catalog__header-button-left
		{

		}
		.catalog__header-button-right
		{
		}
	}
}
.catalog__wraper
{
	width: 100%;
	min-height: 562px;
	margin: 0 auto;
	margin-bottom: 30px;
	background: #FFFFFF;
	border-radius: 5px;
	.catalog__all-book
	{
		display: block;
		width: 188px;
		margin: 10px auto;
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		color: #1C294D;
	}
}
.catalog__conteiner
{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
	.none
	{
		display: block;
	}
	.catalog__book:nth-child(2)
	{
		img
		{
			margin-left: 47px;
		}
	}
	.catalog__book:nth-child(3)
	{
		img
		{
			margin-left: 38px;
		}
	}
}
.catalog__book
{

	position: relative;
	padding-left: 20px;
	&:first-child{padding-right: 20px;}
	&:not(:first-child)
	{
		border-left: 1px solid #E5E5E5;
	}
	@extend %top-property;

	.catalog__book-image
	{
		position: relative;

	}
	img
	{
		margin-top: 25px;
		margin-left: 42px;
		margin-bottom: 9px;
	}
	ul
	{
		position: absolute;
		top: 20px;
		left: 0px;
		li:first-child
		{
			width: 86px;
			height: 25px;
			padding: 7px;
			margin-bottom: 10px;
			background: #EEE9F7;
			border-radius: 5px;
			font-weight: 500;
			font-size: 12px;
			line-height: 15px;
			text-align: center;
			color: #AC8EE3;

		}
		li:last-child
		{
			width: 54px;
			height: 25px;
			padding: 7px;
			background: #FFEEEE;
			border-radius: 5px;
			font-weight: 500;
			font-size: 12px;
			line-height: 15px;
			text-align: center;
			color: #FF4F52;

		}
		li.new
		{
			width: 70px;
			color: #3DC47E;
			background-color: #E2F6EC;
		}
	}
	.catalog__book-name
	{
		display: block;
			// margin-left: 20px;
			font-weight: normal;
			margin-bottom: 7px;
			font-size: 12px;
			line-height: 15px;
			color: rgba(28, 41, 77, 0.5);
		}
		.catalog__book-description
		{
			&.mobile
			{
				display: none;
			}
			display: block;
			margin-bottom: 8px;
			width: 92%;
			font-weight: 500;
			font-size: 14px;
			line-height: 19px;
			color: #1C294D;
		}
		.catalog__book-auhtor
		{
			display: block;
			margin-bottom: 8px;
			font-weight: normal;
			font-size: 12px;
			line-height: 15px;
			color: rgba(28, 41, 77, 0.5);
		}
		.catalog__book-price
		{
			&.mobile
			{
				display: none;
			}
			display: block;
			margin-bottom: 10px;
			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 20px;
			color: #1C294D;
		}
		.catalog__price-conteiner
		{
			margin: 0 0 5px;
			span:nth-child(2)::before
			{
				content: '';
				position: absolute;
				top: 6.43px;
				transform: rotate(-5deg);
				width: 41px;
				height: 1px;
				background-color: #FD3A3A;
			}
			.catalog__book-redprice
			{
				display: inline-block;
				color: #FD3A3A;
				font-family: Roboto;
				font-style: normal;
				font-weight: bold;
				font-size: 18px;
				line-height: 20px;
			}
			.catalog__book-litprice
			{
				position: relative;
				color: #1C294D80;
				font-family: Roboto;
				font-style: normal;
				font-weight: normal;
				font-size: 12px;
				line-height: 15px;
			}

			.catalog__book-profit
			{
				color: #0DB98C;
				font-family: Roboto;
				font-style: normal;
				font-weight: normal;
				font-size: 12px;
				line-height: 15px;
			}
		}
		.catalog__book-star
		{
			display: inline-block;
			margin-bottom: 10px;
			width: 52px;
			height: 25px;
			background: rgba(#FBC02D, 0.15);
			border-radius: 5px;
			text-align: center;
			span
			{
				font-family: Roboto;
				font-style: normal;
				font-weight: 500;
				font-size: 12px;
				line-height: 13px;
				text-transform: uppercase;
				color: #E0A423;
			}
		}
		.catalog__book-recommendation
		{
			display: inline-block;
			margin-bottom: 10px;
			width: 144px;
			height: 25px;
			background:rgba(#7986CB, 0.15);
			border-radius: 5px;
			text-align: center;
			padding-left: 13px;
			span
			{
				font-weight: 500;
				font-size: 12px;
				line-height: 12px;
				color: #7986CB;
			}
		}
	}
	.catalog__button-buy
	{
		position: relative;

		@extend %button_property;

		span
		{
			position: absolute;
			top: 14px;
			left: 54px;
		}
		svg
		{
			position: absolute;
			top: 14px;
			left: 25px;
		}
	}
	.catalog__bookmark
	{
		display: inline-block;
		position: absolute;
		right: 47px;
		width: 40px;
		height: 40px;
		padding: 11px 14px;
		background: #FFFFFF;
		border: 1px solid #EEEEEE;
		border-radius: 5px;
	}

	@media (max-width: 1100px)
	{

	}
	@media (max-width: 992px)
	{

		.catalog__book:last-child
		{
			display: none;
		}
		.catalog__book
		{
			img
			{
				margin-left: 30px;
			}
		}
	}
	@media (max-width: 767px)
	{
		.catalog
		{
			margin: 0;
		}
		.catalog__header
		{
			h2
			{
				margin-left: 10px;
			}
			.catalog__slider-button
			{
				margin-right: 10px;
			}
		}
		.catalog__book
		{
			padding: 0;
			padding-left: 10px;
			ul
			{
				top: 14px;
			}
			&:first-child
			{
				padding-left: 10px;
				padding-right: 0;
			}
			img
			{
				margin: 0;
				margin-top: 20px;
				height: 180px;
				padding-left: 16px;
				margin-bottom: 10px;
			}
			&.none
			{
				display: none;
			}
			&:last-of-type
			{
				display: block;
			}
			.catalog__book-name
			{
				margin-bottom: 5px;
			}
			.catalog__book-description
			{
				width: 95%;
				margin-bottom: 7px;
			}
			.catalog__book-price
			{
				margin-bottom: 5px;
			}
			.catalog__book-star
			{
				margin-bottom: 8px;
			}

		}
		.catalog__button-buy
		{
			height: 35px;
			width: 67.2%;
			margin-bottom: 20px;
			svg
			{
				top: 10px;
				left: 14.6px;
			}
			span
			{
				top: 10px;
				left: 38px;
			}
		}
		.catalog__bookmark
		{
			height: 35px;
			right: 10px;
			padding: 8px 14px;
		}
		.catalog__wraper
		{
			margin: 0;
			margin-bottom: 10px;
			padding-bottom: 1px;
		}
		.catalog__all-book
		{
			margin-bottom: 10px;
		}
	}
