@charset "UTF-8";

/* mixins */

/* Mixins:
   ========================================================================== */

/* Fonts Helpers:
	 Read more: https://github.com/vedees/webpack-template/blob/master/README.md#add-fonts
	 ========================================================================== */

/*
	By default template support only modern format fonts
	Without svg. Only: .woff, .woffs
	if ypu need svg comments lines bellow and uncomments "Fonts helper all format fonts"

	Usage:
	  1. Put your font to `src/assets/fonts/FOLDERNAME/FONTNAME`
		FOLLOW: Files Required
		Example: .woff, .woffs formats
	  2. Go to fonts.scss
	  3. Use mixon
		Example: @include font-face("OpenSans", "../fonts/OpenSans/opensans");

	  Required parameters: @family, @family
	  Minor parameters: @weight, @style, @pipeline

	  Example Base:
		@include font-face("OpenSans", "../fonts/OpenSans/opensans");
	  Example Situation:
		@include font-face("OpenSans", "../fonts/OpenSans/opensansItalic", 400, italic);
  */

/* base */

@font-face {
  font-family: 'Roboto-mono';
  src: url("./fonts/Roboto_mono/Light/RobotoMono-Light.eot");
  src: url("./fonts/Roboto_mono/Light/RobotoMono-Light.eot?#iefix") format("embedded-opentype"), url("./fonts/Roboto_mono/Light/RobotoMono-Light.woff2") format("woff2"), url("./fonts/Roboto_mono/Light/RobotoMono-Light.woff") format("woff"), url("./fonts/Roboto_mono/Light/RobotoMono-Light.svg#RobotoMono-Light") format("svg"), url("./fonts/Roboto_mono/Light/RobotoMono-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-mono';
  src: url("./fonts/Roboto_mono/Bold/RobotoMono-Bold.eot");
  src: url("./fonts/Roboto_mono/Bold/RobotoMono-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/Roboto_mono/Bold/RobotoMono-Bold.woff2") format("woff2"), url("./fonts/Roboto_mono/Bold/RobotoMono-Bold.woff") format("woff"), url("./fonts/Roboto_mono/Bold/RobotoMono-Bold.svg#RobotoMono-Bold") format("svg"), url("./fonts/Roboto_mono/Bold/RobotoMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-mono';
  src: url("./fonts/Roboto_mono/Thin/RobotoMono-Thin.eot");
  src: url("./fonts/Roboto_mono/Thin/RobotoMono-Thin.eot?#iefix") format("embedded-opentype"), url("./fonts/Roboto_mono/Thin/RobotoMono-Thin.woff2") format("woff2"), url("./fonts/Roboto_mono/Thin/RobotoMono-Thin.woff") format("woff"), url("./fonts/Roboto_mono/Thin/RobotoMono-Thin.svg#RobotoMono-Thin") format("svg"), url("./fonts/Roboto_mono/Thin/RobotoMono-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-mono';
  src: url("./fonts/Roboto_mono/Medium/RobotoMono-Medium.eot");
  src: url("./fonts/Roboto_mono/Medium/RobotoMono-Medium.eot?#iefix") format("embedded-opentype"), url("./fonts/Roboto_mono/Medium/RobotoMono-Medium.woff2") format("woff2"), url("./fonts/Roboto_mono/Medium/RobotoMono-Medium.woff") format("woff"), url("./fonts/Roboto_mono/Medium/RobotoMono-Medium.svg#RobotoMono-Medium") format("svg"), url("./fonts/Roboto_mono/Medium/RobotoMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-mono';
  src: url("./fonts/Roboto_mono/Regular/RobotoMono-Regular.eot");
  src: url("./fonts/Roboto_mono/Regular/RobotoMono-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/Roboto_mono/Regular/RobotoMono-Regular.woff2") format("woff2"), url("./fonts/Roboto_mono/Regular/RobotoMono-Regular.woff") format("woff"), url("./fonts/Roboto_mono/Regular/RobotoMono-Regular.svg#RobotoMono-Regular") format("svg"), url("./fonts/Roboto_mono/Regular/RobotoMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("./fonts/Roboto/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("./fonts/Roboto/Roboto-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("./fonts/Roboto/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gosha Sans';
  src: url("./fonts/Gosha Sans/TTF/GoshaSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*  Переменные со шрифтами  */

/*  Переменные с гарнитурами шрифтов  */

/* Настройки оснвоно шрифта */

/* Основные цвета */

/* Разрешения */

/*  сбрасывает браузерное отображение элементов т.к. разные браузеры по разному отображают одно и тоже  */

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
  background-color: transparent;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  padding: 0;
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*  Общая типографика для всех страниц. здесь описываются общие свойства для текстовых блоков  */

body {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.5;
  min-height: 100vh;
  background-color: #F9F9F9;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul li {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

h1 {
  font-size: 42px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 24px;
}

h2 {
  font-size: 22px;
  font-weight: 400;
  margin-top: 0;
  line-height: 24px;
}

h3 {
  font-size: 16px;
  font-weight: 400;
}

h4 {
  font-size: 15px;
  letter-spacing: 2.4px;
  line-height: 24px;
  margin: 0px 0 8px 0;
}

p {
  margin-top: 10px;
  color: #6a7678;
}

b {
  font-weight: 700;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  outline: 0;
  text-decoration: none;
}

.container {
  max-width: 1366px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  padding: 0 20px;
  background-color: #F9F9F9;
}

.pln {
  color: #000;
}

pre.prettyprint {
  padding: 2px;
  border: 1px solid #888;
}

ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: none;
}

li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  background: #eee;
}

/* blocks */

/* Пример подключения*/

/* @import 'blocks/component/component'; */

/**
 * Header-top
 */

.header {
  background-color: #fff;
}

.header__top {
  height: 50px;
}

.header__conteiner {
  width: 1366px;
  min-height: 171px;
  margin: 0 auto;
  background-color: #fff;
}

.header__top-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 17px;
  margin-bottom: 17px;
  width: 100%;
}

.header__top-list svg {
  margin-right: 7px;
}

.header__top-list .header__top-list-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 114px;
}

.header__top-list .header__top-list-menu li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__top-list .header__top-list-menu li svg {
  margin-right: 7px;
}

.header__top-list .header__top-list-menu a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: rgba(28, 41, 77, 0.8);
  padding-right: 32px;
}

.header__top-list .header__top-list-contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 114px;
}

.header__top-list .header__top-list-contacts a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: rgba(28, 41, 77, 0.8);
}

.header__top-list .header__top-list-contacts li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__top-list .header__top-list-contacts li:first-child {
  margin-right: 32px;
}

.header__top-list .header__top-list-contacts svg:last-child {
  margin-left: 7px;
}

.border {
  border: 1px solid #DFE0E1;
}

/**
 *  Header-bottom
 */

.none {
  display: none;
}

.header__basket-mobile {
  display: none;
}

.header__burger-mobile {
  display: none;
}

.header__bottom {
  width: 1366px;
}

.header__bottom-wraper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1366px;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__bottom-search {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 114px;
}

.header__bottom-search input {
  width: 573px;
  height: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #DFE0E1;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding-left: 15px;
}

.header__bottom-search input::-webkit-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: rgba(28, 41, 77, 0.5);
}

.header__bottom-search input::-moz-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: rgba(28, 41, 77, 0.5);
}

.header__bottom-search input::-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: rgba(28, 41, 77, 0.5);
}

.header__bottom-search input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: rgba(28, 41, 77, 0.5);
}

.header__bottom-search-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 123px;
  height: 40px;
  background: #FF7A00;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  border-style: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  color: #FFFFFF;
}

.header__bottom-search-button svg:first-child {
  display: none;
}

.header__bottom-search-button svg {
  margin-right: 7px;
}

.header__bottom-useroption-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 114px;
}

.header__bottom-useroption-list svg {
  margin-right: 7px;
  margin-left: 32px;
}

.header__bottom-useroption-list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__bottom-useroption-list li:last-child {
  position: relative;
}

.header__bottom-useroption-list li:last-child span {
  top: -13px;
  right: 53px;
  position: absolute;
  padding: 2px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  background: #FF7A00;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.header__bottom-useroption-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #1C294D;
}

.header__bottom-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 114px;
}

.header__bottom-navigation-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__bottom-navigation-list a {
  margin-right: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #1C294D;
}

.header__bottom-navigation-list .header__bottom-sale-link {
  color: red;
}

.header__burger {
  margin-right: 8px;
}

.header__bottom-logo {
  margin-right: 30px;
}

.container {
  min-width: 1406px;
}

.promo__wraper {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  background-color: #F9F9F9;
}

/**
 * slider
 */

.promo__slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin-left: 113px;
  width: 750px;
  height: 350px;
  margin-top: 30px;
  background: #CCFF90;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.promo__slider button {
  background-color: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.promo__slider .promo__slider-button-left {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 11px 16px;
  margin-left: 28px;
  border-style: none;
}

.promo__slider .promo__slider-button-right {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 11px 16px;
  margin-right: 28px;
  border-style: none;
}

.promo__slider-content li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

/**
 * book of the day
 */

.promo__bookday-timer,
.promo__bookday .promo__bookday-name,
.promo__bookday .promo__bookday-description,
.promo__bookday .promo__bookday-author,
.promo__bookday .promo__bookday-price {
  font-family: Roboto;
  font-style: normal;
  position: absolute;
}

.promo__bookday {
  position: relative;
  width: 360px;
  background: #FFFFFF;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  min-height: 520px;
  margin-right: 113px;
  margin-left: 30px;
  margin-top: 30px;
}

.promo__bookday-timer {
  top: 25px;
  right: 20px;
  width: 68px;
  height: 25px;
  padding: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  background: rgba(255, 122, 0, 0.15);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  color: #FF7A00;
}

.promo__bookday h3 {
  position: absolute;
  top: 22px;
  left: 20px;
  margin: 0;
}

.promo__bookday img {
  width: 167px;
  height: 250px;
  position: absolute;
  top: 65px;
  right: 95px;
  left: 95px;
}

.promo__bookday .promo__bookday-name {
  top: 330px;
  left: 20px;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: rgba(28, 41, 77, 0.5);
}

.promo__bookday .promo__bookday-description {
  top: 353px;
  left: 20px;
  right: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #1C294D;
}

.promo__bookday .promo__bookday-author {
  top: 399px;
  left: 20px;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.1px;
  color: #1C294D;
  opacity: 0.8;
}

.promo__bookday .promo__bookday-price {
  top: 422px;
  left: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #1C294D;
}

.promo__bookday .button__bookday {
  position: absolute;
  width: 146px;
  height: 40px;
  top: 454px;
  left: 20px;
  border: 1px solid #EEEEEE;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.promo__bookday .button__bookday svg {
  margin-right: 12px;
}

.promo__bookday .button__bookday span {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  color: #1C294D;
}

.promo__bookday .bookday__link {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 454px;
  left: 175px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.promo__bookday .bookday__link svg {
  margin: 10px 14px;
}

/**
 * promo-bottom
 */

.promo__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.promo__bottom .promo__bottom-delivery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 360px;
  min-height: 140px;
  margin-left: 114px;
  margin-top: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #6D378F;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.promo__bottom .promo__bottom-delivery h3 {
  width: 199px;
  margin-left: 25px;
  margin-right: 13px;
  font-family: Gosha Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
  z-index: 2;
}

.promo__bottom .promo__bottom-delivery svg {
  position: absolute;
  left: 13px;
  top: 35px;
}

.promo__bottom .promo__bottom-sale {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  width: 360px;
  min-height: 140px;
  margin-top: 30px;
  margin-left: 30px;
  background: #FFD8EF;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.promo__bottom .promo__bottom-sale h3 {
  width: 162px;
  margin-right: 23px;
  font-family: Gosha Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: rgba(28, 41, 77, 0.8);
  z-index: 2;
}

.promo__bottom .promo__bottom-sale img {
  width: 125px;
  margin-right: 25px;
}

.promo__bottom .promo__bottom-sale svg {
  position: absolute;
  left: 21px;
  top: 88px;
}

.arrivals__conteiner .arrivals__book,
.getting__conteiner .getting__book {
  width: 263px;
  min-height: 460px;
  background: #FFFFFF;
  font-family: Roboto;
  font-style: normal;
}

.arrivals__conteiner .arrivals__book .arrivals__button-buy,
.getting__conteiner .getting__book .getting__button-buy {
  width: 146px;
  height: 40px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #1C294D;
  border: 1px solid #EEEEEE;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
}

.arrivals {
  margin-top: 30px;
}

.arrivals__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
  width: 1140px;
  margin: 0 auto;
  background-color: #fff;
}

.arrivals__header h2 {
  margin-left: 25px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  font-family: Roboto;
  font-style: normal;
  color: #1C294D;
}

.arrivals__header .arrivals__slider-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 60px;
  height: 30px;
  margin-right: 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.arrivals__header .arrivals__slider-button button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-style: none;
  padding: 12px;
}

.arrivals__header .arrivals__slider-button button:last-child {
  border: 1px solid #EEEEEE;
  -webkit-border-radius: 0px 5px 5px 0px;
  border-radius: 0px 5px 5px 0px;
}

.arrivals__header .arrivals__slider-button button:first-child {
  border-left: 1px solid #EEEEEE;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  -webkit-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
}

.arrivals__wraper {
  width: 1140px;
  min-height: 562px;
  margin: 0 auto;
  margin-bottom: 30px;
  background: #FFFFFF;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.arrivals__wraper .arrivals__all-book {
  display: block;
  width: 215px;
  margin: 10px auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #1C294D;
}

.arrivals__conteiner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
}

.arrivals__conteiner .arrivals__book {
  position: relative;
  padding-left: 20px;
}

.arrivals__conteiner .arrivals__book:first-child {
  padding-right: 15px;
}

.arrivals__conteiner .arrivals__book:not(:first-child) {
  border-left: 1px solid #E5E5E5;
}

.arrivals__conteiner .arrivals__book .arrivals__book-image1 {
  position: relative;
}

.arrivals__conteiner .arrivals__book img {
  margin-top: 25px;
  margin-left: 42px;
  margin-bottom: 15px;
}

.arrivals__conteiner .arrivals__book ul {
  position: absolute;
  top: 20px;
  left: 0px;
}

.arrivals__conteiner .arrivals__book ul li:first-child {
  width: 86px;
  height: 25px;
  padding: 5px;
  margin-bottom: 10px;
  background: #EEE9F7;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #AC8EE3;
}

.arrivals__conteiner .arrivals__book ul li:last-child {
  width: 54px;
  height: 25px;
  padding: 5px;
  background: #FFEEEE;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #FF4F52;
}

.arrivals__conteiner .arrivals__book ul li.new {
  color: #3DC47E;
  background-color: #E2F6EC;
}

.arrivals__conteiner .arrivals__book .arrivals__book-name {
  display: block;
  font-weight: normal;
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 15px;
  color: rgba(28, 41, 77, 0.5);
}

.arrivals__conteiner .arrivals__book .arrivals__book-description {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #1C294D;
}

.arrivals__conteiner .arrivals__book .arrivals__book-auhtor {
  display: block;
  margin-bottom: 8px;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: rgba(28, 41, 77, 0.5);
}

.arrivals__conteiner .arrivals__book .arrivals__book-price {
  display: block;
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #1C294D;
}

.arrivals__conteiner .arrivals__book .arrivals__price-conteiner {
  margin: 0 0 5px;
}

.arrivals__conteiner .arrivals__book .arrivals__price-conteiner span:nth-child(2)::before {
  content: '';
  position: absolute;
  top: 6.43px;
  -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
  width: 41px;
  height: 1px;
  background-color: #FD3A3A;
}

.arrivals__conteiner .arrivals__book .arrivals__price-conteiner .arrivals__book-redprice {
  display: inline-block;
  color: #FD3A3A;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.arrivals__conteiner .arrivals__book .arrivals__price-conteiner .arrivals__book-litprice {
  position: relative;
  color: #1C294D80;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.arrivals__conteiner .arrivals__book .arrivals__price-conteiner .arrivals__book-profit {
  color: #0DB98C;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.arrivals__conteiner .arrivals__book .arrivals__book-star {
  display: inline-block;
  margin-bottom: 10px;
  width: 52px;
  height: 25px;
  background: rgba(251, 192, 45, 0.15);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}

.arrivals__conteiner .arrivals__book .arrivals__book-star span {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  text-transform: uppercase;
  color: #E0A423;
}

.arrivals__conteiner .arrivals__book .arrivals__book-recommendation {
  display: inline-block;
  margin-bottom: 10px;
  width: 144px;
  height: 25px;
  background: rgba(121, 134, 203, 0.15);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  padding-left: 12px;
}

.arrivals__conteiner .arrivals__book .arrivals__book-recommendation span {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #7986CB;
}

.arrivals__conteiner .arrivals__book .arrivals__button-buy span {
  padding-left: 12px;
}

.arrivals__conteiner .arrivals__book .arrivals__bookmark {
  display: inline-block;
  position: absolute;
  right: 50px;
  width: 40px;
  height: 40px;
  padding: 11px 14px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}

.send__email-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  max-width: 1140px;
  min-height: 105px;
  margin: 0 auto;
  background-color: #0288D1;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.send__email-text {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #FFFFFF;
  z-index: 1;
}

.send__email-text svg {
  position: absolute;
  top: -3px;
  left: 55px;
  z-index: -1;
}

.send__email-input {
  padding-left: 15px;
  width: 418px;
  height: 40px;
  border-style: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.send__email-input::-webkit-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: rgba(28, 41, 77, 0.5);
}

.send__email-input::-moz-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: rgba(28, 41, 77, 0.5);
}

.send__email-input::-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: rgba(28, 41, 77, 0.5);
}

.send__email-input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: rgba(28, 41, 77, 0.5);
}

.send__email-button {
  width: 137px;
  height: 40px;
  border: 1px solid white;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.arrivals__conteiner .arrivals__book,
.getting__conteiner .getting__book {
  width: 263px;
  min-height: 460px;
  background: #FFFFFF;
  font-family: Roboto;
  font-style: normal;
}

.arrivals__conteiner .arrivals__book .arrivals__button-buy,
.getting__conteiner .getting__book .getting__button-buy {
  width: 146px;
  height: 40px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #1C294D;
  border: 1px solid #EEEEEE;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
}

.getting {
  margin-top: 30px;
}

.getting__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
  width: 1140px;
  margin: 0 auto;
  background-color: #fff;
}

.getting__header h2 {
  margin-left: 25px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  font-family: Roboto;
  font-style: normal;
  color: #1C294D;
}

.getting__header .getting__slider-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 60px;
  height: 30px;
  margin-right: 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.getting__header .getting__slider-button button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-style: none;
  padding: 12px;
}

.getting__header .getting__slider-button button:last-child {
  border: 1px solid #EEEEEE;
  -webkit-border-radius: 0px 5px 5px 0px;
  border-radius: 0px 5px 5px 0px;
}

.getting__header .getting__slider-button button:first-child {
  border-left: 1px solid #EEEEEE;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  -webkit-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
}

.getting__wraper {
  width: 1140px;
  min-height: 562px;
  margin: 0 auto;
  margin-bottom: 30px;
  background: #FFFFFF;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.getting__wraper .getting__all-book {
  display: block;
  width: 215px;
  margin: 10px auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #1C294D;
}

.getting__conteiner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
}

.getting__conteiner .getting__book {
  position: relative;
  padding-left: 20px;
}

.getting__conteiner .getting__book:first-child {
  padding-right: 15px;
}

.getting__conteiner .getting__book:not(:first-child) {
  border-left: 1px solid #E5E5E5;
}

.getting__conteiner .getting__book .getting__book-image1 {
  position: relative;
}

.getting__conteiner .getting__book img {
  margin-top: 25px;
  margin-left: 42px;
  margin-bottom: 15px;
}

.getting__conteiner .getting__book ul {
  position: absolute;
  top: 20px;
  left: 0px;
}

.getting__conteiner .getting__book ul li:first-child {
  width: 86px;
  height: 25px;
  padding: 5px;
  margin-bottom: 10px;
  background: #EEE9F7;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #AC8EE3;
}

.getting__conteiner .getting__book ul li:last-child {
  width: 54px;
  height: 25px;
  padding: 5px;
  background: #FFEEEE;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #FF4F52;
}

.getting__conteiner .getting__book ul li .new {
  color: #3DC47E;
  background-color: #E2F6EC;
}

.getting__conteiner .getting__book .getting__book-name {
  display: block;
  font-weight: normal;
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 15px;
  color: #1c294d;
}

.getting__conteiner .getting__book .getting__book-description {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #1C294D;
}

.getting__conteiner .getting__book .getting__book-auhtor {
  display: block;
  margin-bottom: 8px;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #1c294d;
}

.getting__conteiner .getting__book .getting__book-price {
  display: block;
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #1C294D;
}

.getting__conteiner .getting__book .getting__price-conteiner {
  margin: 0 0 5px;
}

.getting__conteiner .getting__book .getting__price-conteiner span:nth-child(2)::before {
  content: '';
  position: absolute;
  top: 643px;
  -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
  width: 41px;
  height: 1px;
  background-color: #FD3A3A;
}

.getting__conteiner .getting__book .getting__price-conteiner .getting__book-redprice {
  display: inline-block;
  color: #FD3A3A;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.getting__conteiner .getting__book .getting__price-conteiner .getting__book-litprice {
  position: relative;
  color: #1C294D80;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.getting__conteiner .getting__book .getting__price-conteiner .getting__book-profit {
  color: #0DB98C;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.getting__conteiner .getting__book .getting__book-star {
  display: inline-block;
  margin-bottom: 10px;
  width: 52px;
  height: 25px;
  background: rgba(251, 192, 45, 0.15);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}

.getting__conteiner .getting__book .getting__book-star span {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  text-transform: uppercase;
  color: #E0A423;
}

.getting__conteiner .getting__book .getting__book-recommendation {
  display: inline-block;
  margin-bottom: 10px;
  width: 144px;
  height: 25px;
  background: rgba(121, 134, 203, 0.15);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  padding-left: 12px;
}

.getting__conteiner .getting__book .getting__book-recommendation span {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #7986CB;
}

.getting__conteiner .getting__book .getting__button-buy span {
  padding-left: 12px;
}

.getting__conteiner .getting__book .getting__bookmark {
  display: inline-block;
  position: absolute;
  right: 50px;
  width: 40px;
  height: 40px;
  padding: 11px 14px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.benefits__list {
  width: 1140px;
  min-height: 150px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
}

.benefits__item {
  position: relative;
  text-align: center;
  width: 263px;
  height: 150px;
  background-color: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.benefits__item h2 {
  position: absolute;
  top: 42px;
  right: 25px;
  padding-bottom: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #1C294D;
}

.benefits__item span {
  position: absolute;
  bottom: 42px;
  right: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  color: #727272;
}

.benefits__item img {
  position: absolute;
  left: 0;
  top: 37px;
}

.news__wraper {
  width: 1140px;
  margin: 0 auto;
  background: #FFFFFF;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.title {
  width: 1140px;
  min-height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 25px;
  border-bottom: 1px solid rgba(28, 41, 77, 0.15);
}

.title h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #1C294D;
}

.title__button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 60px;
  height: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.title__button button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-style: none;
  padding: 12px;
}

.title__button button:last-child {
  border: 1px solid #EEEEEE;
  -webkit-border-radius: 0px 5px 5px 0px;
  border-radius: 0px 5px 5px 0px;
}

.title__button button:first-child {
  border-left: 1px solid #EEEEEE;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  -webkit-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
}

.news__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px 30px 20px;
}

.news__list .news__item {
  padding-top: 18px;
}

.news__list .news__item:not(:last-child) {
  margin-right: 35px;
  border-right: 1px solid rgba(28, 41, 77, 0.15);
  padding-right: 35px;
}

.news__list .news__item-image {
  margin-bottom: 15px;
}

.news__list .news__item-date {
  display: block;
  margin-bottom: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: rgba(28, 41, 77, 0.5);
}

.news__list .news__item .news__item-title {
  margin: 0;
  margin-bottom: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #1C294D;
}

.news__list .news__item-text {
  display: block;
  margin-bottom: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #1C294D;
  opacity: 0.8;
}

.news__list .news__item-button {
  width: 180px;
  height: 40px;
  background: #FFFFFF;
  margin-bottom: 25px;
  border: 1px solid rgba(28, 41, 77, 0.15);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #1C294D;
}

.footer__top {
  max-width: 1366px;
  background-color: rgba(40, 47, 54, 0.04);
}

.footer__top-items {
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 45px;
  min-height: 90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__top-items .footer__top-logo {
  margin-right: 102px;
}

.footer__top-items .footer__top-input {
  position: relative;
  width: 443px;
  height: 40px;
}

.footer__top-items .footer__input {
  width: 443px;
  height: 40px;
  padding-left: 15px;
  background: #FFFFFF;
  border: 1px solid rgba(40, 47, 54, 0.15);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.footer__top-items .footer__input::-webkit-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: rgba(40, 47, 54, 0.5);
}

.footer__top-items .footer__input::-moz-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: rgba(40, 47, 54, 0.5);
}

.footer__top-items .footer__input::-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: rgba(40, 47, 54, 0.5);
}

.footer__top-items .footer__input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: rgba(40, 47, 54, 0.5);
}

.footer__top-items .footer__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 40px;
  background-color: #FF5C00;
  border-style: none;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}

/**
 * footer-middle
 */

.footer__nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 45px;
  margin-left: 113px;
}

.footer__nav-list .footer__nav-items h3 {
  width: 165px;
  margin: 0;
  margin-bottom: 24px;
  margin-right: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #1C294D;
}

.footer__nav-list .footer__nav-items span {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: rgba(40, 47, 54, 0.5);
}

.footer__nav-list .footer__nav-items a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: rgba(40, 47, 54, 0.8);
}

.footer__nav-list .footer__nav-items li {
  padding-bottom: 15px;
}

/**
 *. footer__bottom
 */

.footer__bottom-nav {
  max-width: 1140px;
  min-height: 105px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 1px solid rgba(40, 47, 54, 0.15);
}

.footer__bottom-nav span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: rgba(28, 41, 77, 0.8);
}

.footer__bottom-nav span:first-child {
  margin-right: 208px;
  color: rgba(28, 41, 77, 0.5);
}

.footer__bottom-nav a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: rgba(28, 41, 77, 0.8);
}

/* pages */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  line-height: 17px;
  font-size: 13px;
  color: #000;
  -webkit-font-smoothing: antialiased;
}

@media screen {
  .str {
    color: #080;
  }

  .kwd {
    color: #008;
  }

  .com {
    color: #800;
  }

  .typ {
    color: #606;
  }

  .lit {
    color: #066;
  }

  .clo,
  .opn,
  .pun {
    color: #660;
  }

  .tag {
    color: #008;
  }

  .atn {
    color: #606;
  }

  .atv {
    color: red;
  }

  .dec,
  .var {
    color: #606;
  }

  .fun {
    color: red;
  }
}

@media print, projection {
  .kwd,
  .tag,
  .typ {
    font-weight: 700;
  }

  .str {
    color: #060;
  }

  .kwd {
    color: #006;
  }

  .com {
    color: #600;
    font-style: italic;
  }

  .typ {
    color: #404;
  }

  .lit {
    color: #044;
  }

  .clo,
  .opn,
  .pun {
    color: #440;
  }

  .tag {
    color: #006;
  }

  .atn {
    color: #404;
  }

  .atv {
    color: red;
  }
}