*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  /* identical to box height, or 12px */
  text-align: center;
  color: #1d1d1b;
}
.page-header {
  display: block;
  width: 1920px;
  height: 163px;
}
.menu-top ul {
  margin-left: 130px;
  list-style-type: none;
}
.menu-list {
  display: flex;
  margin-right: 367px;
  justify-content: space-evenly;
  margin-left: 592px;
}

.menu-top {
  display: flex;
  background: #f8f8f8;
  height: 36px;
  align-items: center;
  margin-bottom: 50px;
}
.menu-list li a {
  text-decoration: none;
  color: black;
  top: 11px;
  margin-right: 40px;
}
.menu-top li {
  display: inline-block;
  margin-right: 2em;
}
.top-city a {
  text-decoration: none;
}
.top-city {
  /* display: flex; */
  width: 90px;
  height: 20px;
  margin-left: 400px;
  margin-top: 11px;
  /* align-items: center; */
  /* justify-content: space-evenly; */
}
.menu-list-item-drop-down {
  position: relative;
  margin-top: 11px;
}
.menu-list-item-drop-down:hover::after {
  transform: rotate(180deg);
}
.menu-list-item-drop-down::after {
  content: "";
  position: absolute;
  right: 11px;
  top: 10px;
  width: 15px;
  height: 10px;
  transform: rotate(0);
  transition: 0.3s;
  background-image: url("/style/img/list.svg");
  background-repeat: no-repeat;
}
.phone-number p {
  font-family: Open sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  color: #696969;
  align-items: center;
}
.phone-number {
  /* display: flex; */
  margin-top: 11px;
}
.logo {
  display: flex;
  margin-left: 400px;
}
.menu-middle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.menu-list-item {
  margin-top: 11px;
}
.serch-middle {
  margin-left: 51px;
}
input {
  width: 412px;
  height: 48px;
}
.input {
  padding-left: 10px;
}
.favorit {
  display: flex;
  margin-left: 46px;
}
.favorit-button {
  display: flex;
  width: 182px;
  height: 48px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 3px;
}
.counter-fovorit {
  background-color: red;
  color: white;
  border-radius: 100%;
  width: 17px;
  height: 17px;
  padding-top: 1px;
}
.img-scales {
  margin-left: 16px;
}
.link {
  display: flex;
  width: 69px;
  height: 14px;
  text-decoration: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  /* identical to box height, or 14px */

  text-align: center;

  color: #1d1d1b;
}
.basket-img {
  margin-left: 34px;
}
.counter-basket {
  background-color: red;
  color: #f8f8f8;
  border-radius: 100px;
  width: 17px;
  height: 17px;
  padding-top: 1px;
  margin-left: 10px;
}
.link-middle {
  display: flex;
  margin-left: 16px;
}
