/**
* Header-top
*/
.header
{
	background-color: #fff;
}
.header__top
{
	height: 50px;
	margin-bottom: 20px;
	border-bottom: 1px solid rgba(28, 41, 77, 0.15);
}
.header__top-menu
{
	display: flex;
	align-items: center;

	li
	{
		svg
		{
			margin-right: 6px;
		}
		display: flex;
		align-items: center;
	}
	a
	{
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		color: rgba(28, 41, 77, 0.8);
		padding-right: 32px;
	}
}
.header__top-list
{
	display: flex;
	justify-content: space-between;
	padding-top: 17px;
	margin-bottom: 17px;
	width: 100%;
	margin: 0 6px;
	svg
	{
		margin-right: 7px;
	}
	.header__top-contacts
	{
		display: flex;
		align-items: center;
		a
		{
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 16px;
			color: rgba(28, 41, 77, 0.8)
		}
		li
		{
			display: flex;
			align-items: center ;
		}
		li:first-child
		{
			margin-right: 30px;
		}
		svg:last-child
		{
			margin-left: 7px;
		}
	}
}
/**
 *  Header-bottom
 */

 .none,
 .header__basket-mobile,
 .header__burger-mobile,
 .header__search-mobile
 {
 	display: none;
 }
 .header__bottom
 {
 	padding-bottom: 14px;
 	margin-bottom: 30px;
 }
 .header__bottom-wraper
 {

 	display: flex;
 	align-items: center;
 	margin-bottom: 12px;
 	justify-content: space-between;
 }
 .header__bottom-search
 {	position: relative;
 	display: flex;
 	input
 	{
 		width: 573px;
 		height: 40px;
 		box-sizing: border-box;
 		background: #FFFFFF;
 		border: 1px solid #DFE0E1;
 		box-sizing: border-box;
 		border-radius: 5px;
 		padding-left: 15px;
 	}
 	input::placeholder
 	{
 		font-family: Roboto;
 		font-style: normal;
 		font-weight: normal;
 		font-size: 14px;
 		line-height: 20px;
 		color: rgba(28, 41, 77, 0.5);

 	}
 }
 .header__bottom-search-button
 {
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	position: absolute;
 	top: 0;
 	right: 0;
 	width: 123px;
 	height: 40px;
 	background: #FF7A00;
 	border-radius:0 5px 5px 0;
 	border-style: none;
 	font-style: normal;
 	font-weight: 500;
 	font-size: 14px;
 	line-height: 20px;
 	text-align: right;
 	color: #FFFFFF;
 	svg:first-child
 	{
 		display: none;
 	}
 	svg
 	{
 		margin-right: 7px;
 	}
 }
 .header__bottom-useroption-list
 {
 	display: flex;
 	svg
 	{
 		margin-right: 7px;
 		margin-left: 31px;
 	}
 	li
 	{
 		display: flex;
 		align-items: center;
 	}
 	li:last-child
 	{
 		position: relative;
 		span
 		{
 			top: -13px;
 			right: 53px;
 			position: absolute;
 			padding: 2px;
 			font-family: Roboto;
 			font-style: normal;
 			font-weight: 500;
 			font-size: 13px;
 			line-height: 16px;
 			text-align: center;
 			color: #FFFFFF;
 			background: #FF7A00;
 			border-radius: 50%;
 		}
 	}
 }
 .header__bottom-useroption
 {
 	padding-bottom: 3px;
 }
 .header__bottom-useroption-link
 {
 	font-style: normal;
 	font-weight: normal;
 	font-size: 14px;
 	line-height: 16px;
 	color: #1C294D;
 }
 .header__bottom-navigation
 {
 	display: flex;

 }
 .header__bottom-navigation-list
 {
 	display: flex;
 	a
 	{
 		margin-right: 25px;
 		font-style: normal;
 		font-weight: normal;
 		font-size: 14px;
 		line-height: 20px;
 		color: #1C294D;
 	}
 	.header__bottom-sale-link
 	{
 		color: red;
 		svg
 		{
 			margin-right: 5px;
 		}
 	}
 }
 .header__burger
 {
 	margin-right: 6px;
 }
 .header__bottom-logo
 {
 	margin-right: 30px;
 }
 .header__search-mobile
 {
 	display: none;
 }

 @media (max-width: 1100px) {

 }
 @media (max-width: 992px) {
 	.header__bottom-useroption,
 	.header__top-menu
 	{
 		display: none;
 	}
 	.header__bottom-search
 	{
 		width: 100%;
 		input
 		{
 			width: 55.4%;
 		}
 	}
 	.header__bottom-search-button
 	{
 		right: 33.7%;
 		width: 12%;
 	}

 }
 @media (max-width: 767px)
 {

 	.header__top
 	{
 		display: none;
 	}
 	.header__bottom
 	{
 		margin: 0;
 		padding: 0;
 	}
 	.header__bottom-wraper
 	{
 		margin: 0;
 		margin-bottom: 10px;
 	}
 	.header__bottom-search
 	{
 		height: 70px;

 		button,
 		input
 		{
 			display: none;
 		}
 	}
 	.header__burger-mobile
 	{
 		display: block;
 		margin-right: 14px;
 		margin-left: 10px;
 	}
 	.header__search-mobile
 	{
 		display: block;
 		position: relative;
 		width: 53%;
 		margin-top: 7px;
 		margin-bottom: 15px;
 		input
 		{
 			display: block;
 			background: #F7F7F7;
 			border-radius: 5px;
 			width: 105%;
 			height: 40px;
 			padding-left: 19px;
 			border-style: none;
 		}
 		a
 		{
 			position: absolute;
 			top: 13px;
 			right: 6px;

 		}
 	}
 	.header__basket-mobile
 	{
 		display: block;
 		position: relative;
 		margin-left: 31px;
 		span
 		{
 			top: -10px;
 			right: -11px;
 			position: absolute;
 			padding: 2px;
 			font-family: Roboto;
 			font-style: normal;
 			font-weight: 500;
 			font-size: 13px;
 			line-height: 16px;
 			text-align: center;
 			color: #FFFFFF;
 			background: #FF7A00;
 			-webkit-border-radius: 50%;
 			border-radius: 50%;
 		}
 	}
 	.header__bottom-search
 	{
 		align-items: center;
 	}
 	.header__bottom-logo
 	{
 		margin-right: 17px;
 		svg
 		{
 			width: 43.75px;
 			height: 35px;
 		}
 	}
 	.header__bottom-navigation
 	{
 		display: none;
 	}
 }
